/docker/mysql/data/
/vendor
.env
../ssl/nginx.crt
../ssl/nginx.key
src/nginx.crt
src/nginx.key
docker/nginx/ssl/
.stylelintrc.json
cspell.json
.vscode
cspell.json
.cspell
src/public/js/*
/src/storage/logs/
/src/storage/logs/laravel.log
/src/storage/app/public/qr_codes/