/* index,shops_list共通 */
.container {
    flex-direction: column;
}

.management_form {
    width: 70%;
    margin: auto;
}

.review_form {
    width: 70%;
    margin: 0 auto;
    align-self: flex-start;
}

/* テーブルスタイル */
.table-section {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #f4f4f4;
    border: 1px solid #7a7a7a;
    border-radius: 10px;
    color: black;
    font-size: 0.8rem;
    box-shadow: 3px 3px 6px rgb(0 0 0 / 61%);
    margin-top: 20px;
    padding: 15px;
}

.admin-th,
.shop-manager-th {
    padding: 4px 10px;
    text-align: left;
}

.admin-info,
.shop-manager-info {
    text-align: right;
}

.admin-td,
.shop-manager-td {
    text-align: left;
}

.admin-button-section,
.shop-manager-button-section {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    border: none;
    text-align: center;
}

.admin-button,
.shop-manager-button {
    padding: 6px 0 6px 6px;
    color: #b4b4b4;
    border: none;
    font-size: 0.8rem;
    text-align: right;
    background: none;
    text-decoration: none;
}

.admin-button:hover,
.shop-manager-button:hover {
    color: #5c5b5b;
}

/* admin/index用 */
.review-star {
    color: #fd9103;
}

.review-star-empty {
    color: #fd9103;
}

.comment-column {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* モーダルスタイル */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.modal-content {
    background-color: #fefefe;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    max-height: 70vh;
    overflow-y: auto;
    box-shadow: 10px 10px 20px rgb(9 1 55 / 70%);
}

.modal-show {
    display: block;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.detail-item {
    margin: 5px 0;
    padding: 5px 10px;
    text-align: left;
    display: flex;
    align-items: center;
}

.delete-form {
    width: 90%;
    margin: auto;
    text-align: center;
}

.shop-title {
    font-weight: bold;
    margin-right: 10px;
    min-width: 120px;
    color: rgb(0 0 0 / 70%);
}

.modal-title-section {
    margin: 0;
    color: rgb(0 0 0 / 70%);
}

.shop-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.detail-row {
    margin: 5px 0;
    padding: 5px 10px;
    text-align: left;
    display: flex;
    align-items: center;
}

.detail-label {
    font-weight: bold;
    margin-right: 10px;
    min-width: 120px;
}

.delete-button {
    width: auto;
    max-width: 40%;
    padding: 6px;
    color: #b4b4b4;
    border: none;
    font-size: 1.2rem;
    text-align: center;
    background: none;
    text-decoration: none;
}

.delete-button:hover {
    color: red;
}

/* メディアクエリ */
@media screen and (max-width: 519px) {
    .container {
        width: 98%;
        margin: 1%;
    }

    .table-section {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .admin-th,
    .admin-td {
        text-align: left;
    }

    .comment-column {
        max-width: 100px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 90%;
        margin: 5%;
    }
}

@media screen and (min-height: 1024px) and (min-width: 1024px) {
    .container {
        width: 90%;
        margin: 5%;
    }

    .admin-th,
    .admin-td {
        text-align: left;
    }

    .comment-column {
        max-width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
