.manage_container {
    width: 70%;
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Edit_Shop_Information {
    width: 100%;
    text-align: center;
    margin: 10px;
    font-size: 1.3rem;
}

.manage_form {
    width: 80%;
    padding: 4px;
}

.shop_name_content {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 2px;
    margin-bottom: 4%;
}

.label_shop_name {
    width: 30%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2px;
    margin-right: 10px;
    color: rgb(0 0 0 / 70%);
}

.shop_name_text {
    width: 100%;
    text-align: justify;
    padding: 2px;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 4px;
}

.input-group-description {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 2px;
    margin-bottom: 4%;
}

.label_description {
    width: 30%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2px;
    margin: 10px 0;
    color: rgb(0 0 0 / 70%);
}

.description_text {
    width: 100%;
    height: 160px;
    padding: 6px;
    border: 1px solid #7a7a7a;
    border-radius: 4px;
    color: black;
    font-size: 1rem;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

.input-group,
.input-group-description {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    justify-content: center;
    padding: 2px;
}

.business_hours {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: bold;
    padding: 2px;
    font-size: 1.2rem;
    color: rgb(0 0 0 / 70%);
}

.icon-img {
    width: 30px;
    height: 30px;
    padding: 3px;
    margin: 4px;
    display: inline-block;
    vertical-align: middle;
}

.input-group-time {
    display: flex;
    width: 100%;
    padding: 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.label_open_time,
.label_close_time {
    width: 35%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2px;
    color: rgb(0 0 0 / 70%);
}

.input_open_time,
.input_close_time {
    width: 60%;
    text-align: center;
    padding: 2px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid #7a7a7a;
    border-radius: 4px;
    appearance: none;
    color: black;
}

.input_open_time::-webkit-calendar-picker-indicator,
.input_close_time::-webkit-calendar-picker-indicator {
    display: none;
}

.input_image {
    display: none;
}

.label_image {
    width: 30%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 2px;
    color: rgb(0 0 0 / 70%);
    margin: 4px;
}

/* ファイル名を表示するスタイル */
.file-name-display {
    display: block;
    margin-top: 5px;

}

.custom-file-upload {
    border: 1px solid #7a7a7a;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: rgb(0 0 0 / 70%);
    font-weight: bold;
    font-size: 1em;
}

.up_date_button_container {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}

.up_date_button {
    width: 30%;
    padding: 5px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    margin: 10px;
    border: none;
}

.confirm_text {
    width: 80%;
    font-size: 1.2rem;
    color: rgb(0 0 0 / 70%);
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
}

.image-section {
    width: 80%;
    height: 500px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 61%);
}

.shop_image {
    width: 100%;
    height: 60%;
    display: block;
}

.description {
    width: 100%;
    padding: 10px;
    margin: 0;
    font-size: 1.2rem;
}

.shop-guide {
    width: 100%;
    padding: 8px;
    text-align: start;
    margin: 0;
    font-size: 1.2rem;
}

.business_hours_up {
    width: 100%;
    margin: 4%;
    font-size: 1.4rem;
    color: rgb(0 0 0 / 70%);
    text-align: center;
}

@media (width <= 768px) {
    .manage_content {
        width: 90%;
        margin: 2% 5%;
    }

    .manage_form,
    .image-section,
    .confirm_text,
    .business_hours_group,
    .business_hours_up {
        width: 100%;
    }

    .Edit_Shop_Information {
        margin: 4px;
    }

    .shop_name_content {
        margin-bottom: 4px;
    }

    .input-group {
        margin: 2%;
    }

    .input-group-description {
        flex-direction: column;
        align-items: flex-start;
    }

    .image-section {
        height: 260px;
    }

    .shop_image {
        height: 125px;
    }

    .input_image {
        font-size: 1rem;
    }

    .up_date_button {
        width: 60%;
        padding: 4px 10px;
        margin: 4px 0;
    }

    .confirm_text {
        font-size: 1rem;
        margin: 4px;
    }

    .shop-guide,
    .description {
        font-size: 0.8rem;
        padding: 4px 10px;
    }

    .description_text::placeholder,
    .input_genre::placeholder,
    .input_area::placeholder {
        font-size: 0.8rem;
    }

    .business_hours_up {
        margin: 4px;
        font-size: 1rem;
        text-align: center;
    }
}

@media only screen and (width = 768px) {
    .manage_content {
        width: 70%;
        margin: 0 15%;
    }

    .manage_form,
    .image-section,
    .confirm_text,
    .business_hours_group,
    .business_hours_up
    {
        width: 100%;
    }

    .Edit_Shop_Information {
        margin: 4px;
    }

    .shop_name_content {
        margin-bottom: 4px;
    }

    .input-group-description {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2%;
    }

    .description_text {
        height: 120px;
        padding: 10px;
    }

    .image-section {
        height: 360px;
    }

    .shop_image {
        height: 55%;
    }

    .input_image {
        font-size: 1rem;
    }

    .up_date_button {
        width: 40%;
        padding: 4px 10px;
        margin: 4px 0;
    }

    .confirm_text {
        font-size: 1rem;
        padding: 10px;
        margin: 2px;
    }

    .shop-guide,
    .description {
        padding: 10px;
        font-size: 1rem;
    }

    .business_hours_up {
        margin: 4px;
        font-size: 1rem;
        text-align: center;
    }
}