.choose-container {
    width: 100%;
}

.choose-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.text-2,
.text {
    font-size: 19px;
    font-weight: bold;
    padding: 10px;
    margin: 4px;
}

.link-buttons-container {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10%;
}

.login-link,
.register-link {
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    background-color: rgba(0 0 255 / 0.8);
    color: rgb(255 255 255 / 1);
    border-radius: 6px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    margin: 5px;
}

@media screen and (max-width: 767px) {
    .choose-section {
        width: 100%;
    }

    .text-2,
    .text {
        font-size: 13px;
    }
}
