/* 共通styleがcolumnなのでrowで戻す。 */
.content {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* このページにはsearch要素がないため、headerをrowにする */
.header {
    flex-direction: row;
    height: 80px;
}

.header-brand {
    width: 100%;
}

.top_logo {
    width: 100%;
}

.header-search {
    display: none;
}


/* ここからdetailページのstyle */
/*左要素より少し上へ上げるためにrelativeを使う。*/
.header {
    position: relative;
}

/* content内の左右の要素共通style */
.detail-section,
.reservation-section {
    margin: 20px;
}

/* 左要素style */
.detail-section {
    width: 50%;
    text-align: left;
}

/* 戻るボタンと店舗名のstyleボタンの親要素 */
.navigation {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px 0;
}

/* 戻るボタン < のstyle */
.back-link {
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    color: rgb(0 0 0 / 0.8);
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 0.6);
}

.back-link:hover {
    color: rgb(0 0 0 / 0.4);
}

/* 店舗名のstyle */
.navigation_shop_name {
    width: 80%;
    font-size: 26px;
    line-height: 28px;
    font-weight: 700;
    color: rgb(0 0 0 / 0.8);
    margin: 0;
}

/* 店舗画像と店舗紹介文のstyle */
.image_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 店舗画像のstyle */
.shop_image {
    width: 100%;
}

/* 店舗エリアとジャンルのstyle */
.shop-guide {
    width: 100%;
    text-align: start;
    font-size: 13px;
    margin: 0;
}

/* 店舗紹介文のstyle */
.description {
    width: 100%;
    height: auto;
    font-size: 16px;
    line-height: 22px;
    color: rgb(0 0 0 / 0.8);
    margin: 10px 0;
}

/* 右要素style */
.reservation-section {
    width: 45%;
    background-color: rgba(0 0 255 / 0.8);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 0.6);


}

/* 予約フォームのstyle */
.form-section {
    width: 100%;
    height: auto;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: rgb(255 255 255 / 1);
}

/* 予約フォームのタイトルのstyle */
.reserve {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: left;
    margin: 0;
    font-size: 20px;
    padding: 5px 30px;
}

.reserve_form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px 30px;
}

.label_date {
    width: 40%;
    height: 30px;
    line-height: 30px;
}


.select_time,
.select_number {
    height: 30px;
    line-height: 30px;
    padding: 2px 12px;
    width: 100%;
    border-radius: 6px;
    border: none;
    appearance: none;
    position: relative;
    background-color: rgb(255 255 255 / 1);
    z-index: 1;
}

.input_date {
    height: 30px;
    line-height: 30px;
    padding: 4px 12px;
    width: 50%;
    border-radius: 6px;
    border: none;
}

.select-wrapper {
    width: 100%;
    position: relative;
}

/* カスタムアイコンのスタイル */
.custom-select-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-45%);
    width: 16px;
    height: 8px;
    background-color: rgb(0 0 0 / 0.4);
    clip-path: polygon(0 0, 50% 24%, 100% 0, 50% 100%, 0 0);
    pointer-events: none;
    z-index: 2;
}

.reservation-summary {
    width: 100%;
    height: 100%;
    padding: 4px 30px;
    border-radius: 6px;
    color: rgb(255 255 255 / 1);
    display: flex;
    flex-direction: column;
}

.summary-item {
    display: flex;
    width: 80%;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    text-align: left;
    margin: 0 auto;
    gap: 15px;
}

.label {
    width: 70px;
    height: 30px;
    line-height: 30px;
    color: rgb(255 255 255 / 1);
}

.button-container {
    width: 100%;
    margin-top: auto;
    border-radius: 0 0 10px 10px;
}

.reserve-button {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgba(5 5 94 / 0.7);
    color: rgb(255 255 255 / 1);
    border: none;
    border-radius: 0 0 10px 10px;
    margin-top: auto;
}

.reserve-button:hover {
    background-color: rgba(5 5 94 / 0.4);
}

/* QRコードのstyle */
.qr-code {
    width: 100%;
    padding: 30px;
    text-align: center;
    margin-top: auto;
}

/* QRコード画像のstyle */
.qr_code_img {
    margin: 30px;
}

.qr-text {
    width: 100%;
    text-align: center;
    padding: 4px;
    font-size: 16px;
    margin: 10% 0;
}

@media screen and (min-width: 541px) and (max-width: 1024px) {
    .content {
        align-items: center;
    }

    .form-section {
        width: 100%;
    }

    .input_date {
        width: 65%;
    }
}

@media screen and (max-width: 540px) {
    .content {
        flex-direction: column;
        height: auto;
        gap: 0;
    }

    .form-section {
        width: 100%;
        min-height: 300px;
    }

    .input_date {
        width: 60%;
    }

    .reservation-summary {
        width: 90%;
        margin: 0;
        padding: 0;
    }

    .detail-container {
        flex-direction: column;
    }

    .detail-section,
    .reservation-section {
        width: 90%;
        height: auto;
        margin: 2% 5%;
        position: static;
    }

    .reserve_form {
        width: 100%;
    }

    .qr-code {
        padding: 0;
        margin-top: 20px;
    }

    .qr_code_img {
        margin: 0 auto;
    }
}



