/* 共通styleがcolumnなのでrowで戻す。 */
.content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* ここからdetailページのstyle */
/*左要素より少し上へ上げるためにrelativeを使う。*/
.header {
    position: relative;
}

/* content内の左右の要素共通style */
.detail-section,
.reservation-section {
    margin: 20px;
}

/* 左要素style */
.detail-section {
    width: 45%;
    min-height: 700px;
    height: auto;
    text-align: left;
}

/* 戻るボタンと店舗名のstyleボタンの親要素 */
.navigation {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px 0;
}

/* 戻るボタン < のstyle */
.back-link {
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    color: rgb(0 0 0 / 0.8);
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 0.6);
}

.back-link:hover {
    color: rgb(0 0 0 / 0.4);
}

/* 店舗名のstyle */
.navigation_shop_name {
    width: 80%;
    font-size: 26px;
    line-height: 28px;
    font-weight: 700;
    color: rgb(0 0 0 / 0.8);
    margin: 0;
}

/* 店舗画像と店舗紹介文のstyle */
.image_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 店舗画像のstyle */
.shop_image {
    width: 100%;
}

/* 店舗エリアとジャンルのstyle */
.shop-guide {
    width: 100%;
    text-align: start;
    font-size: 13px;
    margin: 0;
}

/* 店舗紹介文のstyle */
.description {
    width: 100%;
    height: auto;
    font-size: 18px;
    line-height: 22px;
    color: rgb(0 0 0 / 0.8);
    margin: 10px 0;
}

/* 右要素style */
.reservation-section {
    width: 45%;
    height: auto;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: center;*/
    color: rgb(255 255 255 / 1);
    background-color: rgba(0 0 255 / 0.8);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 0.6);
    padding-top: 20px;
}

/* 予約フォームのタイトルのstyle */
.reserve {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: left;
    margin: 0;
    font-size: 20px;
    padding: 5px 50px;
}

/* 予約フォームのformのstyle */
.reserve_form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px 30px;
}

/* 予約フォームの日付titleのstyle */
.label_date {
    width: 40%;
    height: 30px;
    line-height: 30px;
}

/* 予約フォームの時刻&人数セレクトボックスのstyle */
.select_time,
.select_number {
    height: 30px;
    line-height: 30px;
    padding: 2px 12px;
    width: 100%;
    border-radius: 6px;
    border: none;
    appearance: none;
    position: relative;
    background-color: rgb(255 255 255 / 1);
    z-index: 1;
}

/* 予約フォームの日付inputのstyle */
.input_date {
    height: 30px;
    line-height: 30px;
    padding: 4px 12px;
    width: 50%;
    border-radius: 6px;
    border: none;
}

/* 予約フォームの時刻&人数セレクトボックスのコンテナのstyle */
.select-wrapper {
    width: 100%;
    position: relative;
}

/* カスタムアイコン▽のstyle */
.custom-select-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-45%);
    width: 16px;
    height: 8px;
    background-color: rgb(0 0 0 / 0.4);
    clip-path: polygon(0 0, 50% 24%, 100% 0, 50% 100%, 0 0);
    pointer-events: none;
    z-index: 2;
}

/* 予約フォームの予約情報のstyle */
.reservation-summary {
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 6px;
    color: rgb(255 255 255 / 1);
    display: flex;
    flex-direction: column;
}

/* 予約フォームの予約情報の項目のstyle */
.summary-item {
    display: flex;
    width: 80%;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    text-align: left;
    margin: 0 auto;
    gap: 15px;
}

/* 予約フォームの予約情報の項目のラベルのstyle */
.label {
    width: 70px;
    height: 30px;
    line-height: 30px;
    color: rgb(255 255 255 / 1);
}

/* 予約フォームの予約ボタンのコンテナのstyle */
.button-container {
    width: 100%;
    margin-top: auto;
    border-radius: 0 0 10px 10px;
}

/* 予約フォームの予約ボタンのstyle */
.reserve-button {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgba(5 5 94 / 0.7);
    color: rgb(255 255 255 / 1);
    border: none;
    border-radius: 0 0 10px 10px;
    margin-top: auto;
}

.reserve-button:hover {
    background-color: rgba(5 5 94 / 0.4);
}

/* QRコードのstyle */
.qr-code {
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

/* QRコード画像のstyle */
.qr_code_img {
    width: 150px;
    height: 150px;
    padding: 10px;
}

/* QRコードテキストのstyle */
.qr-text {
    width: 100%;
    text-align: center;
    padding: 4px;
    font-size: 16px;
    margin: 10% 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .input_date {
        width: 65%;
    }
}

@media screen and (max-width: 767px) {
    .content {
        flex-direction: column;
        height: auto;
        gap: 0;
    }

    .detail-section {
        min-height: 500px;
    }

    .reservation-section {
        min-height: 300px;
    }

    .input_date {
        width: 60%;
    }

    .reservation-summary {
        width: 90%;
        margin: 0;
        padding: 0;
    }

    .detail-container {
        flex-direction: column;
    }

    .detail-section,
    .reservation-section {
        width: 90%;
        height: auto;
        margin: 2% auto;
        position: static;
    }

    .reserve_form {
        width: 100%;
    }
}



