.payment-group {
    width: 40%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 3px 3px 6px rgb(0 0 0 / 61%);
    border-radius: 6px;
}

.payment_form {
    width: 90%;
    margin: 5%;
}

.form-row {
    text-align: center;
    width: 100%;
    margin: 10px;
    padding: 2px;

}

.card-content {
    width: 90%;
    height: 30px;
    margin: 10px;
    background-color: #f4f4f4;
}

.label_card_content {
    color: black;
    font-weight: bold;
}

/* ボタンのスタイルをカスタマイズ */
.payment-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 16px 10px;
    font-weight: bold;
}

.payment-button:hover {
    background-color: #5c67f2;
}

@media screen and (max-width: 719px) {
    .payment-group {
        width: 80%;
        margin: 5% auto;
    }

    .payment_form {
        margin: auto;
    }

    /* ボタンのスタイルをカスタマイズ */
    .payment-button {
        width: 50%;
    }
}

@media (min-width: 720px) and (max-width: 912px) {
    .payment-group {
        width: 40%;
        margin: 5% auto;
    }
}
