/* ハンバーガーメニュー&Logoのスタイル */
.header-brand {
    width: 30%;
    line-height: 80px;
    justify-content: left;
    gap: 20px;
}

/* 検索欄のコンテナのスタイル */
.header-search {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 検索欄のフォームのスタイル */
.search-form {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 0.6);
    border-radius: 6px;
    background-color: rgb(255 255 255 / 1);
    padding: 0 10px;

}

.search-form__item-input:focus,
.search-form__item-select:focus,
.search-button:focus {
    outline: none;
}

/* セレクトボックスのスタイル */
.search-form .select-wrapper {
    width: 30%;
    display: flex;
    align-items: center;
    position: relative;
}

/* 検索用入力フォームのスタイル */
.search-form__item-input {
    width: 30%;
    padding: 4px;
    border: none;
    background: none;
    color: rgb(0 0 0 / 0.6);
}

/* 検索用入力フォームのプレースホルダーのスタイル */
.search-form .search-form__item-input::placeholder {
    color: rgb(0 0 0 / 0.4);
    opacity: 1;
}

/* 検索ボタン(虫眼鏡)のスタイル */
.search-button {
    border: none;
    background: none;
    cursor: pointer;
    width: 10%;
    height: 100%;
    padding: 0 4px;
}

/* 検索ボタン(虫眼鏡)の画像のスタイル */
.search-button .search_img {
    width: 20px;
    height: 20px;
    filter: brightness(0);
    opacity: 0.5;
}

/* ジャンル＆エリアで絞り込み用のセレクトボックスのスタイル */
.search-form__item-select {
    flex-grow: 1;
    padding: 4px 14px;
    border: none;
    border-right: 1px solid rgb(0 0 0 / 0.4);
    appearance: none;
    position: relative;
    background-color: rgb(255 255 255 / 1);
    color: rgb(0 0 0 / 0.6);
    z-index: 1;
}

/* ジャンル＆エリアで絞り込み用のセレクトボックスのオプションのスタイル */
.search-form__item-select option {
    color: rgb(0 0 0 / 0.8);
    background-color: rgb(255 255 255 / 1);
}

/* ジャンル＆エリアで絞り込み用のセレクトボックスの▽のスタイル */
.custom-select-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 10px;
    background-color: rgb(0 0 0 / 0.4);
    clip-path: polygon(0 0, 50% 24%, 100% 0, 50% 100%, 0 0);
    pointer-events: none;
    z-index: 2;
}

/* 店舗一覧のテーブルのスタイル */
.shop_table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

/* 店舗一覧のカードのスタイル */
.shop_card {
    flex: 0 1 22%;
    margin: 1.5%;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 0.6);
    padding: 0;
    background-color: rgb(255 255 255 / 1);
    border-radius: 6px;
    overflow: hidden;
}

/* カード内の画像スタイル */
.shop_card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* カード内の情報スタイル */
.shop_info {
    height: 40%;
    padding: 10px;
}

/* 店舗一覧のカード内の店舗名のスタイル */
.shop-name {
    margin: 0;
    padding: 5px;
    font-size: 20px;
    line-height: 20px;
}

/* 店舗一覧のカード内のエリアとジャンルのスタイル */
.shop-guide {
    margin: 0;
    padding: 2px;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
}

/* 店舗一覧のカード内のボタンコンテナのスタイル */
.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 店舗一覧のカード内の詳しく見るボタンのスタイル */
.shop-detail-button {
    width: 45%;
    height: 35px;
    line-height: 35px;
    padding: 0 5px;
    background-color: rgba(0 0 255 / 0.8);
    color: rgb(255 255 255 / 1);
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

/* お気に入りボタンのformのstyle */
.favorite_form {
    text-align: center;
}


/* 店舗一覧のカード内のお気に入りボタンのスタイル */
.favorite-button {
    border: none;
    outline: none;
    background: none;
    font-size: 32px;
    color: rgb(0 0 0 / 0.2);
    padding: 1px 15px;
    text-decoration: none;
}

/* お気に入りに追加されたときのボタンのスタイル */
.favorite-button.favorite {
    color: rgba(255, 0, 0, 0.9);
}


/* 管理者ページに戻るボタンのコンテナのスタイル(admin&shop用) */
.back-to-admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 10px 0;
}

/* 管理者ページに戻るボタンのスタイル(admin&shop用) */
.back-to-admin-button {
    width: 150px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0 24px;
    background-color: rgba(0 0 255 / 0.8);
    color: rgb(255 255 255 / 1);
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 0.4);
}

.back-to-admin-button:hover {
    background-color: rgba(0 0 255 / 0.4);
    text-decoration: none;
    color: rgb(255 255 255 / 1);
    transform: translateY(-2px);
}

/* ここからレスポンシブデザインの設定 */
@media screen and (min-width: 768px ) and (max-width: 1024px) {
    .header {
        padding: 0 20px;
        justify-content: space-between;
    }

    .content {
        padding: 0 20px;
    }

    .header-brand {
        justify-content: space-between;
    }

    .top_logo {
        width: 60%;
        margin: 0;
        padding: 0;
    }

    .shop_card {
        flex: 0 1 30%;
    }

    .shop-detail-button {
        width: 52%;
    }
}

@media screen  and (min-width: 540px) and (max-width: 767px) {
    .header {
        height: 160px;
        flex-direction: column;
        padding: 0;
    }

    .header-brand {
        width: 100%;
        gap: 0;
        padding: 0;
    }

    .header-search {
        width: 100%;
        padding: 0;
    }

    .search-form__item-select {
        width: 33%;
        padding: 4px;
    }

    .search-form__item-input {
        width: 33%;
    }

    .shop_table {
        justify-content: space-between;
    }

    .shop_card {
        flex: 0 1 45%;
    }

    .shop-detail-button {
        width: 55%;
    }

}

@media screen  and (max-width: 539px) {
    .header {
        height: 160px;
        flex-direction: column;
        padding: 0;
    }

    .header-brand {
        width: 100%;
        gap: 0;
        padding: 0;
    }

    .header-search {
        width: 100%;
        padding: 0;
    }

    .search-form__item-select {
        width: 33%;
        padding: 4px;
    }

    .search-form__item-input {
        width: 33%;
    }

    .shop_card {
        flex: 0 1 100%;
        margin: 3%;
    }

    .shop-detail-button {
        width: 50%;
    }

}
