.header {
    justify-content: space-between;
}

.header-search {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.search-content {
    width: 100%;
    height: 50px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 61%);
    border-radius: 6px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form__item-input,
.shop-detail {
    width: 110px;
}

.search-form {
    width: 100%;
}

.search-form__section {
    width: 100%;
    display: flex;
}

.search-form__item-input:focus,
.search-form__item-select:focus,
.search-button:focus {
    outline: none;
}

.search-form__item {
    width: 100%;
    display: flex;
    align-items: center;
}

.search-form__section .select-wrapper {
    width: 110px;
    display: flex;
    align-items: center;
    position: relative;
}

.search-form__item-input {
    width: 350px;
    padding: 4px;
    border: none;
    background: none;
    border-radius: 4px;
}

.search-button {
    border: none;
    background: none;
    cursor: pointer;
    width: 30px;
    height: 100%;
    color: rgba(0, 0, 0, 0.8);
    padding: 2px 6px;
    margin: 2px;
}

.search_img {
    width: 100%;
    height: 100%;
    margin: 0 4px;
}

.search-form__item-select {
    flex-grow: 1;
    padding: 4px 14px;
    border: none;
    border-right: 1px solid #cccaca;
    appearance: none;
    position: relative;
    background-color: white;
    z-index: 1;
}

.custom-select-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 10px;
    background-color: #b4b4b4;
    clip-path: polygon(0 0, 50% 24%, 100% 0, 50% 100%, 0 0);
    pointer-events: none;
    z-index: 2;
}

.shop_table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop_card {
    flex: 0 1 24%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 61%);
    padding: 0;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
}

/* カード内の画像スタイル */
.shop_card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* カード内の情報スタイル */
.shop_info {
    height: 40%;
    padding: 10px;
}

.shop-name {
    margin: 0;
    padding: 5px;
    font-size: 20px;
    line-height: 20px;
}

.shop-guide {
    margin: 0;
    padding: 2px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
}

.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop-detail-button {
    width: 110px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    background-color: rgba(0, 0, 255, 0.8);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    margin: 5px;
}

.favorite-button {
    border: none;
    outline: none;
    background: none;
    font-size: 32px;
    color: rgb(228 225 225);
    padding: 1px 15px;
    text-decoration: none;
}

/* お気に入りに追加されたときのボタンのスタイル */
.favorite-button.favorite {
    color: red;
}

/* ここからレスポンシブデザインの設定 */
@media screen and (max-width: 719px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-content {
        width: 90%;
        order: 2;
        margin: 10px 0;
    }

    .search-content,
    .search-form__item {
        width: 100%;
    }

    .search-form__item-select {
        padding: 2px 2px 2px 6px;
    }

    .search-form__item-input {
        width: 40%;
        padding: 2px;
    }

    .search-form__item-select,
    .search-form__item-input {
        font-size: 11px;
    }


    .select-wrapper {
        width: 26%;
    }

    .custom-select-icon {
        right: 8px;
    }

    .shop_card {
        flex: 0 1 100%;
        justify-content: center;
        margin-bottom: 3%;
    }

    .shop-name {
        font-size: 21px;
    }

    .shop-detail {
        width: 44%;
        padding: 6px 10px;
        font-size: 13px;
    }

    .shop-guide {
        font-size: 13px;
    }
}

