/* mypageページのコンテナのスタイル */
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    text-align: center;
}

/* 予約一覧 左側 */
.reservation-section {
    width: 35%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    margin-right: 2.5%;
    padding: 8px;
    border-radius: 6px;
    height: auto;
    font-size: 13px;
    align-self: flex-start;
}

/* 予約一覧 予約情報 */
.reservation-summary {
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        font-size: 13px;
        color: rgb(255 255 255 / 1);
        box-shadow: 6px 6px 12px rgb(0 0 0 / 0.6);
        background-color: rgba(0 0 255 / 1);
    }

/* 予約変更form */
.update_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255 255 255 / 1);
}

/* 予約変更form 予約文字時計&予約項名&クロスボタンのコンテナ */
.reservation-summary-item {
    width: 100%;
    display: flex;
    align-items: center;
}

/* 予約変更form クロスボタン */
.close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: rgba(0 0 255 / 1);
    border: none;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}

/* 予約変更form クロスボタン */
.cross_image {
    width: 25px;
    height: 25px;
    margin: 3%;
}

/* 予約変更form 時計アイコン */
.clock-icon {
    width: 25px;
    height: 25px;
    margin: 3%;
}

/* 予約変更form 予約文字 */
.reservation-summary-date {
    width: 50%;
    line-height: 24px;
    margin: 3%;
    text-align: left;
}

/* 予約変更form 予約情報 表示 */
.reservation-summary-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(1, 1, 37, 0.3);
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 15px;
}

/* 予約変更form 予約情報 表示 フィールド */
.reservation-field {
    width: 100%;
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
}

/* 予約変更form 編集form　表示・非表示のstyle */
.edit-form {
    display: none;
    width: 100%;
}

.edit-form.show {
    display: flex;
}

.reservation-button.hide {
    display: none;
}

.update-button,
.cancel-button {
    display: none;
}

.update-button.show,
.cancel-button.show {
    display: inline-block;
}

.view-reservation.hide {
    display: none;
}

/* 予約内容&予約変更fieldのコンテナ */
.form-group,
.reservation-field {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 3%;
}

/* 予約変更form 表示フィールド ラベル */
.view-label,
.form-label {
    width: 35%;
    line-height: 24px;
    margin: 0;
}

/* 予約変更form 表示フィールド データ */
.name-entry,
.data-entry,
.view-data {
    width: 100%;
    line-height: 24px;
    padding-left: 3%;
    margin: 0;
}

/* 予約変更form ショップネーム&予約内容表示 */
.name-entry,
.view-data {
    display: block;
}

/* 各select box */
.data-entry {
    border: none;
}

/* select box カレンダーのみ */
.input_date {
    width: 70%;
    border-radius: 6px;
}

/* カレンダーピッカーのstyle */
.data-entry.input_date::-webkit-calendar-picker-indicator {
    position: relative;
    right: 10px;
    top: 50%;
    width: 20px;
    height: 20px;
}

/* ▽疑似要素用コンテナ */
.select-wrapper {
    width: 100%;
    position: relative;
}

/* ▽カスタムアイコンの予約用&評価用のstyle */
.custom-select-icon,
.rating-select-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 8px;
    background-color: rgb(0 0 0 / 0.4);
    clip-path: polygon(0 0, 50% 24%, 100% 0, 50% 100%, 0 0);
    pointer-events: none;
    z-index: 2;
}


/* 予約ボタン コンテナ */
.reservation-button-container,
.payment-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.reservation-button-container {
    height: auto;
    justify-content: space-between;
    gap: 10px;
}

.payment-button-container {
    justify-content: center;
}

/* 各ボタン共通のstyle */
.reservation-button,
.payment-button {
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
}

.reservation-button {
    width:  22%;
    background-color: rgb(255 255 255 / 1);
    color: rgba(1, 1, 37, 0.8);
    border: 1px solid rgba(1, 1, 37, 0.8);
}

.payment-button {
    width: 45%;
    height: 40px;
    background-color: rgba(1, 1, 37, 0.3);
    border: 1px solid rgb(255 255 255);
    color: rgb(255 255 255 / 1)
}

.payment-button:hover,
.reservation-button:hover {
    background-color: rgb(0 0 255 / 0.4);
    color: rgb(255 255 255 / 1);
}

.delete-button {
    margin: 0;
}

/* 各select 時間,人数,評価 共通style */
.select_time,
.select_number,
.select_rating {
    width: 100%;
    appearance: none;
    position: relative;
    background-color: rgb(255 255 255 / 1);
    border-radius: 6px;
    z-index: 1;
    line-height: 24px;
}

/* 予約変更form QRコード 画像 */
.qr_code_image {
    width: 100px;
    height: 100px;
    padding: 10px;
    text-align: center;
    margin: 5px auto;
}

/* 5段階評価＆レビューコメント */
.store_form {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 4%;
    border-radius: 10px;
    margin: 1% 0;
    font-size: 13px;
    align-items: center;
    background-color: rgb(255 255 255 / 1);
    box-shadow: 6px 6px 12px rgb(0 0 0 / 0.6);
    margin-bottom: 20px;
}

/* 評価select box */
.select_rating {
    font-weight: bold;
    border: 1px solid rgba(0 0 255 / 0.8);
    text-align: center;
    outline: none;
}

/* 評価select box & コメントtextarea のコンテナ */
.rating-group {
    justify-content: flex-start;
}

/* 評価ラベル */
.label_rating,
.label_comment {
    color: rgb(0 0 0 / 0.8);
}

/* コメントtextarea */
.text_comment {
    height: 100px;
    border: 1px solid rgba(0 0 255 / 0.8);
    outline: none;
}

/* レビューボタン */
.review-button {
    width: 45%;
    height: 36px;
    background-color: rgb(0 0 255 / 1);
    border: 1px solid rgba(1, 1, 37, 0.8);
    color: rgb(255 255 255 / 1);
    border-radius: 6px;
    margin: 10px auto;
}

.review-button:hover {
    background-color: rgb(255 255 255 / 1);
    color: rgba(1, 1, 37, 0.3);
}

/* お気に入り店舗 右側 */
.favorite-shops-section {
    width: 65%;
    flex: 1;
    margin-left: 2.5%;
    padding: 0;
    border-radius: 6px;
    align-self: flex-start;
}

/* お気に入り店舗 image全体のstyle */
.favorite-shops {
    border-radius: 6px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bold;
    padding: 8px;
    margin-top: 1%;
}

/* お気に入り店舗image一覧のstyle */
.shop_card {
    flex: 0 1 45%;
    height: 10%;
    margin-bottom: 25px;
    box-shadow: 6px 6px 12px rgb(0 0 0 / 61%);
    padding: 0;
    background-color: rgb(255 255 255 / 1);
    border-radius: 10px;
    overflow: hidden;
}

/* カード内の画像style */
.shop_card_image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    background-color: rgb(255 255 255 / 1);
}

/* カード内の情報style */
.shop_info {
    padding: 10px;
    text-align: left;
}

/* カード内の店舗名style */
.shop-name {
    margin: 0;
    padding: 5px;
    font-size: 20px;
    line-height: 20px;
}

/* カード内の店舗ガイドstyle */
.shop-guide {
    margin: 0;
    padding: 2px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
}


/* ボタンコンテナstyle */
.button-container {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

/* 詳しく見るボタンstyle */
.shop-detail-button {
    width: 45%;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    background-color: rgba(0 0 255 / 1);
    color: rgb(255 255 255 / 1);
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    margin: 5px;
}

/* お気に入りボタンのformのstyle */
.favorite_form {
    text-align: center;
}

/* お気に入りボタンのスタイル */
.favorite-button {
    border: none;
    outline: none;
    background: none;
    font-size: 40px;
    color: rgb(0 0 0 / 0.2);
    padding: 4px 10px;
}

/* お気に入りに追加されたときのボタンのスタイル */
.favorite-button.favorite {
    color: rgba(255 0 0 / 0.9);    /* お気に入りの場合は赤色に */
}

/* ここからレスポンシブデザインの設定 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .reservation-section {
        width: 45%;
    }

    .favorite-shops-section {
        width: 50%;
    }

    .favorite-shops {
        justify-content: right;
    }

    .shop_card {
        flex: 0 1 100%;
    }

    .reservation-button-container {
        flex-wrap: wrap;
        gap: 10px;
    }

    .reservation-button {
        width: calc(50% - 5px);
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    /* 現在の予約一覧 */
    .reservation-section {
        width: 100%;
        margin: 0;
    }

    /* お気に入り店舗 */
    .favorite-shops-section {
        width: 100%;
        margin: 0;
    }

    .reservation-button-container {
        flex-wrap: wrap;
        gap: 10px;
    }

    .reservation-button {
        width: calc(50% - 5px);
        margin-right: 0;
    }

    /* お気に入り店舗 */
    .shop_card {
        flex: 0 1 100%;
    }
}



