/* 登録店舗一覧 */
.management_form {
    width: 80%;
    margin: 0 auto;
    align-self: flex-start;
}

/* テーブルスタイル */
.table-section {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    background-color: rgb(255 255 255 / 1);
    border: 2px solid rgb(0 0 0 / 0.1);
    border-radius: 10px;
    color: rgb(0 0 0 / 0.8);
    box-shadow: 10px 10px 20px rgb(0 0 0 / 0.4);
    padding: 20px 50px;
    margin: 20px auto 50px auto;
}

/* テーブルのデータセルと列の共通スタイル */
.admin-td,
.admin-th,
.admin-info {
    padding: 4px 10px;
    border-bottom: 1px solid rgb(0 0 0 / 0.4);
}

/* テーブルの列スタイル */
.admin-th {
    width: calc((100% - 100px) / 4);
    height: 80px;
    font-size: 18px;
}

/* テーブルのデータセルスタイル */
.admin-td {
    height: 65px;
    font-size: 16px;
}

/* テーブルのデータセルと列の共通スタイル */
.admin-td,
.admin-th {
    text-align: left;
}

/* 営業時間列スタイル */
.admin-hours-column {
    width: auto;
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 詳細ボタン欄のスタイル */
.admin-info {
    width: 110px;
    text-align: center;
}

/* テーブルの最後の行のデータセルと列の共通スタイル */
.admin-tr:last-child .admin-td,
.admin-tr:last-child .admin-button-section {
    border-bottom: none;
}

/* 詳細ボタンのスタイル */
.detail-button {
    width: 100%;
    padding: 6px 0 6px 6px;
    color: rgb(0 0 0 / 0.4);
    border: none;
    font-size: 18px;
    text-align: center;
    background: none;
    text-decoration: none;
}

.detail-button:hover {
    color: rgb(0 0 0 / 0.8);
}

/* ここからレスポンシブ対応 */
/* メディアクエリ */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .management_form {
        width: 100%;
    }

    .table-section {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 90%;
        margin: 5%;
    }

    .management_form {
        width: 100%;
    }

    .table-section {
        display: block;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

}

