/* admin/shops_list用 */
.container {
    flex-direction: column;
}

.management_form {
    width: 70%;
    margin: 0 auto;
    align-self: flex-start;
}

/* テーブルスタイル */
.table-section {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgb(0 0 0 / 40%);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 10px 10px 20px rgb(0 0 0 / 40%);
    padding: 20px 50px;
    margin-bottom: 30px;
}

.admin-tr {
    width: 100%;
}

.admin-td,
.admin-th,
.admin-info {
    padding: 4px 10px;
    border-bottom: 1px solid rgb(0 0 0 / 40%);
}

.admin-th {
    width: calc((100% - 80px) / 5);
    height: 70px;
    font-size: 18px;
}

.admin-td {
    height: 50px;
    font-size: 16px;
}

.admin-td,
.admin-th {
    text-align: left;
}

.admin-info {
    text-align: center;
}

.admin-button-section {
    text-align: center;
}

.admin-tr:last-child .admin-td,
.admin-tr:last-child .admin-button-section {
    border-bottom: none;
}

.admin-button-section {
    border-bottom: 1px solid rgb(0 0 0 / 55%);
}

.admin-button {
    width: 100%;
    padding: 6px 0 6px 6px;
    color: #b4b4b4;
    border: none;
    font-size: 13px;
    text-align: center;
    background: none;
    text-decoration: none;
}

.admin-button:hover {
    color: #5c5b5b;
}


/* メディアクエリ */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        margin: 5%;
    }

    .management_form {
        width: 100%;
    }

    .table-section {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}

