/* admin/ レビュー一覧 */
.review_form {
    width: 70%;
    margin: 20px auto;
    align-self: flex-start;
}

/* テーブルスタイル */
.table-section {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    background-color: rgb(255 255 255 / 1);
    border: 2px solid rgb(0 0 0 / 0.1);
    border-radius: 10px;
    color: rgb(0 0 0 / 0.8);
    font-size: 13px;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 0.4);
    padding: 20px 50px;
    margin-bottom: 50px;
}

/* テーブルの行スタイル */
.review-tr {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(0 0 0 / 0.4);
}

/* テーブルの列スタイル */
.review-th {
    width: calc((100% - 60px) / 5);
    height: 80px;
    font-size: 18px;
    color: rgb(0 0 0 / 0.8);
}

/* テーブルのデータセルスタイル */
.review-td {
    height: 65px;
    font-size: 16px;
}

/* テーブルのデータセルと列の共通スタイル */
.review-td,
.review-th {
    text-align: left;
    border-bottom: 1px solid rgb(0 0 0 / 0.4);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 詳細ボタンの列スタイル */
.review-th.review-info {
    width: 60px;
    text-align: center;
}

/* 詳細ボタン欄のスタイル */
.review-button-section {
    padding: 4px 10px;
    text-align: center;
    border-bottom: 1px solid rgb(0 0 0 / 0.4);
}


/* テーブルの最後の行のデータセルと列の共通スタイル */
.review-tr:last-child .review-td,
.review-tr:last-child .comment-column,
.review-tr:last-child .review-button-section {
    border-bottom: none;
}

/* コメント欄スタイル */
.comment-column {
    padding: 4px 10px;
    border-bottom: 1px solid rgb(0 0 0 / 0.4);
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 詳細ボタン */
.detail-button {
    padding: 6px 0 6px 6px;
    color: rgb(0 0 0 / 0.4);
    border: none;
    font-size: 13px;
    text-align: right;
    background: none;
    text-decoration: none;
}

.detail-button:hover {
    color: rgb(0 0 0 / 0.8);
}

/* レビュー用 */
.review-star {
    color: rgb(253 145 3 / 0.9);
}

.review-star-empty {
    color: rgb(253 145 3 / 0.9);
}

/* ここからレスポンシブ対応 */
/* メディアクエリ */
@media screen and (min-width: 541px) and (max-width: 1024px) {
    .review_form {
        width: 95%;
        margin: 0 auto;
    }
}


@media screen and (max-width: 540px) {
    .container {
        width: 90%;
        margin: 5%;
    }

    .review_form {
        width: 100%;
        margin: 0 auto;
    }

    .table-section {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}

