.content {
    padding-bottom: 50px;
}
/* 店舗代表者用 */
.management_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(255 255 255 / 1);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 0.6);
    width: 50%;
    margin: 50px auto;
    padding: 4px;
}

/* アイコン＆入力フォームのグループ */
.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* 左側アイコンのスタイル */
.icon-img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
}

/* セレクトボックスの▽のスタイル */
.custom-select-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-45%);
    width: 18px;
    height: 10px;
    background-color: rgb(0 0 0 / 0.4);
    clip-path: polygon(0 0, 50% 24%, 100% 0, 50% 100%, 0 0);
    pointer-events: none;
    z-index: 2;
}

/* セレクトボックスの▽の為の要素 */
.admin-form .select-wrapper {
    width: 100%;
    position: relative;
}

/* 入力フォームのスタイル */
.date-entry {
    width: 100%;
    padding: 2px 10px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    outline: none;
    height: 45px;
    line-height: 1.5;
}

/* 表示/非表示のユーティリティクラス */
.modal.hide {
    display: none;
}

.modal.show {
    display: flex;
}


/* 新規店舗登録用 */
.admin-form {
    width: 80%;
}

/* 店舗を選択用のセレクトボックスのスタイル */
.select_shop_id {
    text-align: center;
    appearance: none;
    position: relative;
    z-index: 1;
    color: rgb(0 0 0 / 0.8);
}

/* 時間入力フォームのスタイル */
.time-input {
    text-align: center;
    appearance: none;
}

/* 店舗紹介テキストエリアのスタイル */
.description_text {
    height: 200px;
}

/* プレースホルダー */
.date-entry::placeholder,
.description_text::placeholder {
    color: rgb(0 0 0 / 0.6);
    font-size: 20px;
}

/* 時間入力フォームのラベルのスタイル */
.admin-time-label {
    display: block;
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: left;
    font-size: 16px;
    padding: 0 15px;
    color: rgb(0 0 0 / 0.8);
}

/* 左側アイコン＆時間入力フォームのスタイル */
.form-group-time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.time-input::-webkit-calendar-picker-indicator {
    display: none;
}

/* ファイル選択のスタイル */
.custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 12px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: rgb(0 0 0 / 0.6);
    font-size: 16px;
}

/* ファイル名を表示するスタイル */
.file-name-display {
    align-self: center;
}

.input_image {
    display: none;
}

/* 店舗代表者登録と新店舗登録ボタンのスタイル */
.register-button,
.new-register-button {
    width: 35%;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0 0 255 / 0.8);
    color: rgb(255 255 255 / 1);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 30px auto;
}

.button:hover {
    background-color: rgba(0 0 255 / 0.4);
}

/* メディアクエリ */
@media screen and (max-width: 767px) {
    .shop_manager_form,
    .shop_registration_form {
        width: 100%;
    }

    .register-button,
    .new-register-button {
        width: 70%;
        margin: 10% auto 15% auto;
    }

    .select_shop_id {
        text-align: left;
    }

    .date-entry {
        font-size: 13px;
    }

    .time-input {
        font-size: 20px;
    }

    .date-entry::placeholder,
    .description_text::placeholder {
        font-size: 13px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .management_form,
    .shop_registration_form {
        width: 60%;
    }

    .register-button,
    .new-register-button {
        width: 50%;
    }
}


