.review_form {
    width: 70%;
    margin: 20px auto;
    align-self: flex-start;
}

/* テーブルスタイル */
.table-section {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgb(0 0 0 / 55%);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 13px;
    box-shadow: 6px 6px 12px rgb(0 0 0 / 55%);
    padding: 20px;
}

.review-tr {
    width: 100%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(0 0 0 / 55%);
    color: rgba(0, 0, 0, 0.8);
    font-size: 13px;
}

.review-th {
    width: calc((100% - 80px) / 6);
    height: 70px;
}

.review-td,
.review-th {
    padding: 4px 10px;
    text-align: left;
    border-bottom: 1px solid rgb(0 0 0 / 55%);
}

.review-info {
    text-align: center;
}

.review-button-section {
    padding: 4px 10px;
    text-align: center;
    border-bottom: 1px solid rgb(0 0 0 / 55%);
}

.review-tr:last-child .review-td,
.review-tr:last-child .comment-column,
.review-tr:last-child .review-button-section {
    border-bottom: none;
}

.comment-column {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    border-bottom: 1px solid rgb(0 0 0 / 55%);
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-button {
    padding: 6px 0 6px 6px;
    color: #b4b4b4;
    border: none;
    font-size: 13px;
    text-align: right;
    background: none;
    text-decoration: none;
}

.review-button:hover {
    color: #5c5b5b;
}

/* レビュー用 */
.review-star {
    color: #fd9103;
}

.review-star-empty {
    color: #fd9103;
}

/* モーダルスタイル */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 25% auto;
    padding: 20px;
    border: 1px solid rgb(0 0 0 / 70%);
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    max-height: 70vh;
    overflow-y: auto;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 55%);
}

.modal-show {
    display: block;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    cursor: pointer;
}

.detail-item {
    margin: 5px 0;
    padding: 5px 10px;
    text-align: left;
    display: flex;
    align-items: center;
}

.delete-form {
    width: 90%;
    margin: auto;
    text-align: center;
}

.detail-row {
    margin: 5px 0;
    padding: 5px 10px;
    text-align: left;
    display: flex;
    align-items: center;
}

.detail-label {
    font-weight: bold;
    margin-right: 10px;
    min-width: 120px;
}

.delete-button {
    width: auto;
    max-width: 40%;
    padding: 6px;
    color: #b4b4b4;
    border: none;
    font-size: 19px;
    text-align: center;
    background: none;
    text-decoration: none;
}

.delete-button:hover {
    color: red;
}

/* メディアクエリ */
@media screen and (max-width: 540px) {
    .container {
        width: 90%;
        margin: 5%;
    }

    .review_form {
        width: 100%;
    }

    .table-section {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}

@media screen and (min-width: 541px) and (max-width: 1024px) {
    .review_form {
        width: 80%;
    }
}
