/* admin/shops_list用 */
.container {
    flex-direction: column;
}

.management_form {
    width: 70%;
    margin: 20px auto;
    align-self: flex-start;
}

/* テーブルスタイル */
.table-section {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #f4f4f4;
    border: 1px solid #242323;
    border-radius: 10px;
    color: black;
    font-size: 13px;
    box-shadow: 3px 3px 6px rgb(0 0 0 / 61%);
    padding: 30px 50px;
}

.admin-tr {
    width: 100%;
    height: 40px;
}

.admin-th {
    height: 50px;
}

.admin-td,
.admin-th,
.admin-info {
    padding: 4px 10px;
    border-bottom: 1px solid #242323;
}

.admin-th {
    width: calc((100% - 80px) / 5);
    height: 70px;
}

.admin-td,
.admin-th {
    text-align: left;
}

.admin-info {
    text-align: center;
}

.admin-button-section {
    text-align: center;
}

.admin-tr:last-child .admin-td,
.admin-tr:last-child .admin-button-section {
    border-bottom: none;
}

.admin-button-section {
    border-bottom: 1px solid #242323;
}

.admin-button {
    width: 100%;
    padding: 6px 0 6px 6px;
    color: #b4b4b4;
    border: none;
    font-size: 13px;
    text-align: center;
    background: none;
    text-decoration: none;
}

.admin-button:hover {
    color: #5c5b5b;
}

/* モーダルスタイル */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.modal-content {
    background-color: #fefefe;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    max-height: 70vh;
    overflow-y: auto;
    box-shadow: 10px 10px 20px rgb(9 1 55 / 70%);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.detail-item {
    margin: 5px 0;
    padding: 5px 10px;
    text-align: left;
    display: flex;
    align-items: center;
}

.delete-form {
    width: 90%;
    margin: auto;
    text-align: center;
}

.shop-title {
    font-weight: bold;
    margin-right: 10px;
    min-width: 120px;
    color: rgb(0 0 0 / 70%);
}

.modal-title-section {
    margin: 0;
    color: rgb(0 0 0 / 70%);
}

.shop-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.delete-button {
    width: auto;
    max-width: 40%;
    padding: 6px;
    color: #b4b4b4;
    border: none;
    font-size: 19px;
    text-align: center;
    background: none;
    text-decoration: none;
}

.delete-button:hover {
    color: red;
}

/* メディアクエリ */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        margin: 5%;
    }

    .management_form {
        width: 100%;
    }

    .table-section {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}

