/* 共通モーダルスタイル */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 30%);
}

/* モーダルを閉じるボタン */
.close-modal-button {
    color: rgb(0 0 0 / 70%);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 10;
}

.close-modal-button:hover,
.close-modal-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* モーダル */
.modal-content {
    background-color: rgb(255, 255, 255);
    margin: 5% auto;
    padding: 20px;
    width: 70%;
    max-width: 600px;
    border-radius: 10px;
    max-height: 85vh;
    overflow-y: auto;
    border: 2px solid rgb(0 0 0 / 30%);
    box-shadow: 10px 10px 20px rgb(0 0 0 / 60%);
    position: relative;
    text-align: center;
}

/* モーダルタイトル */
.card-title {
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    color: rgb(0 0 0 / 70%);
    width: 100%;
    min-width: auto;
}

.shop-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* 詳細情報section */
.detail-item {
    margin: 10px 0;
    padding: 2px 10px;
    text-align: left;
    display: flex;
    align-items: center;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}

/* 項目名section */
.detail-title {
    font-weight: bold;
    margin: 0;
    margin-right: 10px;
    min-width: 120px;
    color: rgb(0 0 0 / 70%);
}

.modal-detail-section {
    margin: 0;
    color: rgb(0 0 0 / 70%);
}

.detail-title {
    font-weight: bold;
    margin: 0;
    margin-right: 10px;
    min-width: 120px;
    color: rgb(0 0 0 / 70%);
}



.shop-description-item {
    height: 130px;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
    width: 100%;
}






/* dashboard固有のモーダルスタイル */
.registered-shop-card {
    width: 80%;
    margin: 0 auto;
    box-shadow: 6px 6px 12px rgb(0 0 0 / 55%);
    border: 2px solid rgb(0 0 0 / 40%);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.registered-shop-info {
    width: 100%;
    text-align: left;
    padding: 10px;
}

.shop-name {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
}

.shop-tags {
    margin: 5px 0;
    font-size: 14px;
}

.registered-shop-detail-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 80%;
    margin: 10px auto;
}

.shop-hours {
    margin: 5px 0;
    font-size: 14px;
}

.shop-description-section {
    height: auto;
}

.shop-description-item {
    max-height: 130px;
}

.view-shop-link-container {
    margin-top: 30px;
    text-align: center;
}



/* shops_list固有のモーダルスタイル */
.detail-shop-cards {
    width: 90%;
    margin: 20px auto;
}

.details-shop-info {
    width: 100%;
    text-align: left;
    padding: 10px;
}

.delete-form {
    width: 90%;
    margin: auto;
    text-align: center;
}

.delete-button {
    width: auto;
    max-width: 40%;
    padding: 6px;
    color: #b4b4b4;
    border: none;
    font-size: 19px;
    text-align: center;
    background: none;
    text-decoration: none;
}

.delete-button:hover {
    color: red;
}

/* モーダル内で使用するボタン・リンクスタイル */
.button,
.link {
    width: 50%;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 255, 0.8);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    display: block;
    text-decoration: none;
    margin: 5% auto;
}

.button:hover,
.link:hover {
    background-color: #003875;
}

/* レスポンシブ対応 */
@media screen and (max-width: 768px) {
    .modal-content {
        width: 90%;
        margin: 10% auto;
    }

    .registered-shop-detail {
        max-width: 100%;
    }

    .button {
        width: 70%;
        margin: 10% auto 15% auto;
    }
}
