
/* box-shadowつけるためにここでcontentのstyle */
.content {
    padding-bottom: 50px;

}

/* フォームのスタイル */
.manage_form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(255 255 255 / 1);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 0.6);
    margin: 20px auto 50px auto;
    padding: 10px 50px ;
}

/* 項目＆入力フォームグループのstyle */
.form-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 左側アイコンのスタイル */
.icon-img {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

/* 項目ラベルのスタイル */
.label-title {
    width: 35%;
    min-width: 100px;
    text-align: left;
    font-size: 16px;
    line-height: 45px;
    padding: 0 10px;
    margin-right: 10px;
    color: rgb(0 0 0 / 0.8);
}

/* 入力フォームのスタイル */
.form-group .data-entry {
    width: 65%;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    height: 45px;
    line-height: 45px;
    border-radius: 6px;
    color: rgb(0 0 0 / 0.8);
    font-weight: 400;
    border: 1px solid rgb(0 0 0 / 0.4);
}

.data-entry::placeholder {
    color: rgb(0 0 0 / 0.8);
}

/* 店舗名のスタイル */
.form-group .shop-name-entry {
    font-size: 20px;
    font-weight: 700;
    border: none;
}

/* 店舗紹介テキストエリアのスタイル */
.form-group .description_text {
    height: 250px;
    line-height: 1.5;
    outline: none;
    padding: 10px;
    color: rgb(0 0 0 / 0.8);
}

/* 営業時間のタイトルのスタイル */
.business_hours {
    display: flex;
    align-items: center;
    justify-content: left;
}

/* 営業時間の入力フォーム&ファイル選択ボタンのスタイル */
.input_time,
.custom-file-upload {
    text-align: center;
    appearance: none;
    outline: none;
}

.input_time::-webkit-calendar-picker-indicator {
    display: none;
}

/* ファイル選択ボタンのスタイル */
.custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-upload:has(.file-name-display:not(:empty)) {
    justify-content: space-evenly;
}

/* fileのdefaultのスタイルを非表示にする */
.input_image {
    display: none;
}

/* ファイル名のスタイル */
.file-name-display {
    color: rgb(0 0 0 / 0.8);
}

/* ファイル名の非表示のスタイル */
.file-name:empty {
    height: 0;
    display: none;
}

/* 現在の画像のコンテナのスタイル */
.current_shop_image_container {
    margin-bottom: 26px;
}

.current_shop_image {
    width: 65%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

/* 画像プレビュー（新規選択時）のコンテナのスタイル */
.preview-image-container {
    display: block;
    width: 65%;
    margin-left: 35%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    margin: 26px 35% 26px 0;
}

/* 画像プレビューのスタイル */
.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* 画像プレビューの非表示のスタイル */
.preview-image-container.hide {
    display: none;
}

/* 更新ボタンコンテナのスタイル */
.up_date_button_container {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 30px auto 50px auto;
}

/* 更新ボタンのスタイル */
.up_date_button {
    width: 50%;
    line-height: 40px;
    background-color: rgba(0, 0, 255, 0.8);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    display: block;
    margin: 0 auto;
}

/* 確認はこちらから文字のスタイル */
.confirm-text {
    width: 80%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0 0 0 / 0.6);
    margin: 20px auto;
}


/* 確認ボタンコンテナのスタイル */
.confirm-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40px;
    text-align: center;
    gap: 30px;
    margin: 20px auto;
}

/* 更新＆店舗一覧ページで確認するボタンのスタイル */
.confirm-button,
.view-shop-link {
    width: 45%;
    line-height: 40px;
    color: rgb(0 0 0 / 0.8);
    border: 2px solid rgba(0, 0, 255, 0.8);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    background: none;
    text-decoration: none;
    display: block;
}

/* ここからレスポンシブ対応 */
@media screen and (min-width: 541px) and (max-width: 1024px) {
    .content {
        padding: 20px;
    }

    .manage_form {
        width: 80%;
        margin: 20px auto;
        padding: 10px 30px;
    }

    .confirm-button-container {
        width: 80%;
        padding: 0 30px;
    }

}

@media screen and (max-width: 540px) {
    .content {
        width: 100%;
        margin: 2% 0;
    }

    .manage_form {
        width: 100%;
        margin: 10px auto;
        padding: 10px 20px;
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .form-group .label-title {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .form-group .data-entry {
        width: 100%;
    }

    .shop-image-wrapper {
        width: 100%;
    }

    .current_shop_image,
    .preview-image-container {
        width: 100%;
        margin: 26px 0;
    }

    .up_date_button_container {
        margin: 20px auto 50px auto;
    }

    .confirm-button-container{
        width: 100%;
        padding: 0 20px;
        height: auto;
        flex-direction: column;
    }

    .up_date_button,
    .confirm-button,
    .view-shop-link {
        width: 100%;
    }
}

