.container {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 50%);
    padding: 20px 10px 50px 10px;
    flex-direction: column;
    align-items: center;
}

.manage_form {
    width: 80%;
}

.form-group {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2px;
    margin-bottom: 1%;
    color: rgb(0 0 0 / 0.8);
}

.icon-img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
}

.label-title {
    width: 30%;
    min-width: 100px;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    padding: 4px 10px;
    margin-right: 10px;
}

.data-entry {
    width: 70%;
    padding: 2px 10px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    border-radius: 6px;
}

.description_text {
    height: 200px;
    outline: none;
}

.shop-name-entry {
    color: black;
}

.shop-name-entry,
.business_hours {
    text-align: left;
}

.input_time,
.custom-file-upload {
    text-align: center;
    border: 1px solid rgb(0 0 0 / 0.7);
    appearance: none;
    outline: none;
}

.fa-cloud-upload {
    color: rgb(0 0 0 / 0.7);
    font-weight: bold;
}

.input_time::-webkit-calendar-picker-indicator {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 3px 10px;
}

/* fileのdefaultのスタイルを非表示にする */
.input_image {
    display: none;
}

/* ファイル名を表示するスタイル */
.file-name-display {
    display: block;
    margin-top: 5px;
}

.file-name {
    height: 80px;
}

.preview-image-container {
    display: none;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 61%);
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.up_date_button_container {
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: 5%;
}

.up_date_button {
    width: 50%;
    line-height: 40px;
    background-color: rgba(0, 0, 255, 0.8);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.confirm-text {
    width: 80%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 700;
    color: rgb(0 0 0 / 0.6);
    margin: 5% auto;
}

.confirm-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    text-align: center;
    gap: 30px;
    margin: 0 auto 3% auto;
}

.confirm-button,
.view-shop-link {
    width: 40%;
    padding: 6px;
    color: rgb(0 0 0 / 0.6);
    border: 2px solid rgba(0, 0, 255, 0.8);
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    background: none;
    text-decoration: none;
    display: block;
}

.shop-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 20%;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 61%);
}

.shop_image {
    width: 100%;
    height: 70%;
    object-fit: cover;
    background-color: #f4f4f4;
    border-radius: 10px 10px 0 0;
}

.shop_info {
    width: 100%;
    height: 30%;
    padding: 10px;
}

.shop-name {
    width: 100%;
    margin: 0;
    text-align: left;
    padding: 5px;
    font-size: 21px;
}

.shop-guide {
    padding: 6px;
    text-align: start;
    margin: 0;
    font-size: 10px;
}

.shop_info_container {
    width: 50%;
    padding: 10px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 61%);
    border-radius: 10px;
}

.detail-shop-guide {
    width: 60%;
    padding: 10px 0;
    text-align: start;
    font-size: 13px;
    margin: 0;
    color: black;
}

.description_title {
    width: 60%;
    padding: 2px;
    font-size: 19px;
    text-align: center;
    margin: 0;
    color: rgb(0 0 0 / 70%);
    font-weight: bold;
    margin-bottom: 2%;
}


.description {
    width: 100%;
    height: 160px;
    padding: 2px;
    font-size: 16px;
    text-align: left;
    margin: 0;
    color: black;
}

@media screen and (min-width: 541px) and (max-width: 1024px) {
    .container {
        width: 90%;
        margin: 2% 5%;
    }
}

@media screen and (max-width: 540px) {
    .container {
        width: 90%;
        margin: 2% 5%;
    }

    .manage_form,
    .form-group,
    .form-label,
    .data-entry,
    .custom-file-upload {
        width: 100%;
    }

    .label-title {
        width: 100%;
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .file-name {
        height: 40px;
    }

    .shop-image-wrapper {
        width: 100%;
    }

    .shop_info_container {
        width: 100%;
        overflow-y: scroll;
    }

    .confirm-button-container{
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .up_date_button,
    .confirm-button,
    .view-shop-link {
        width: 100%;
        margin: 5% 0;
    }
}

