.container {
    width: 70%;
    margin: 0 15%;
    flex-direction: column;
    align-items: center;
}

.manage_form {
    width: 80%;
    padding: 4px;
    margin-top: 2%;
}

.form-group {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 2px;
    margin-bottom: 1%;
}

.form-label {
    width: 30%;
    text-align: left;
    font-size: 19px;
    line-height: 26px;
    font-weight: bold;
    padding: 4px 10px;
    margin-right: 10px;
    color: rgb(0 0 0 / 70%);
}

.data-entry {
    width: 70%;
    padding: 2px 10px;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    border-radius: 4px;
    color: rgb(0 0 0 / 70%);
}

.description_text {
    height: 160px;
    border: 1px solid #7a7a7a;
    color: black;
    font-size: 16px;
    outline: none;
}

.shop-name-entry {
    color: black;
}

.shop-name-entry,
.business_hours {
    text-align: left;
}

.business_hours,
.confirm_text,
.business_hours_title {
    display: block;
    width: 100%;
    font-weight: bold;
    padding: 2px 10px;
    font-size: 19px;
    line-height: 26px;
    color: rgb(0 0 0 / 70%);
    margin-bottom: 2%;
}

.icon-img {
    width: 30px;
    height: 30px;
    padding: 2px;
    margin: 4px;
    display: inline-block;
    vertical-align: middle;
}


.input_time,
.custom-file-upload {
    text-align: center;
    border: 1px solid #7a7a7a;
    appearance: none;
    background-color: white;
}

.input_time::-webkit-calendar-picker-indicator {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 3px 10px;
}

/* fileのdefaultのスタイルを非表示にする */
.input_image {
    display: none;
}

/* ファイル名を表示するスタイル */
.file-name-display {
    display: block;
    margin-top: 5px;
}

.file-name {
    height: 80px;
}

.preview_image img {
    max-width: 80px;
    max-height: 80px;
    margin-top: 5px;
    object-fit: contain;
}

.up_date_button_container {
    width: 100%;
    text-align: center;
    margin: 5% 0;
}

.up_date_button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    font-size: 19px;
    text-align: center;
    border: none;
}

.shop-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 20%;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 61%);
}

.shop_image {
    width: 100%;
    height: 70%;
    object-fit: cover;
    background-color: #f4f4f4;
    border-radius: 10px 10px 0 0;
}

.shop_info {
    width: 100%;
    height: 30%;
    padding: 10px;
}

.shop-name {
    width: 100%;
    margin: 0;
    text-align: left;
    padding: 5px;
    font-size: 21px;
}

.shop-guide {
    padding: 6px;
    text-align: start;
    margin: 0;
    font-size: 10px;
}

.shop_info_container {
    width: 50%;
    padding: 10px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 61%);
    border-radius: 10px;
}

.detail-shop-guide {
    width: 60%;
    padding: 10px 0;
    text-align: start;
    font-size: 13px;
    margin: 0;
    color: black;
}

.description_title {
    width: 60%;
    padding: 2px;
    font-size: 19px;
    text-align: center;
    margin: 0;
    color: rgb(0 0 0 / 70%);
    font-weight: bold;
    margin-bottom: 2%;
}


.description {
    width: 100%;
    height: 160px;
    padding: 2px;
    font-size: 16px;
    text-align: left;
    margin: 0;
    color: black;
}

@media screen and (max-width: 540px) {
    .container {
        width: 90%;
        margin: 2% 5%;
    }

    .manage_form,
    .form-group,
    .form-label,
    .data-entry,
    .custom-file-upload {
        width: 100%;
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .file-name {
        height: 40px;
    }

    .shop-image-wrapper {
        width: 100%;
    }

    .shop_info_container {
        width: 100%;
        overflow-y: scroll;
    }
}

@media screen and (min-width: 541px) and (max-width: 1024px) {
    .container {
        width: 90%;
        margin: 2% 5%;
    }
}
