/* 画面全体のstyle */
.review_form {
    width: 80%;
    margin: 0 auto;
    align-self: flex-start;
    padding: 10px;
}

.content-section-title {
    width: 100%;
    padding: 0 15px;
    text-align: center;

}

/* テーブルスタイル */
.table-section {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    background-color: rgb(255 255 255 / 1);
    border: 2px solid rgb(0 0 0 / 0.1);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 0.6);
    padding: 15px;
    margin: 20px auto 50px auto;
}

/* テーブルの列スタイル */
.review-th {
    width: calc((100% - 250px) / 4);
    height: 80px;
    color: rgb(0 0 0 / 0.8);
    font-size: 18px;
    border-bottom: 2px solid rgb(0 0 0 / 0.4);
}

/* テーブルのデータセルスタイル */
.review-td {
    height: 65px;
    font-size: 16px;
    border-bottom: 2px solid rgb(0 0 0 / 0.4);
}

/* テーブルの列とデータセルの共通スタイル */
.review-th,
.review-td {
    padding: 4px 10px;
}

/* テーブルの最後の行のデータセルと列の共通スタイル */
.review-tr:last-child .review-td {
    border-bottom: none;
}

/* コメント列スタイル */
.comment-column {
    width: auto;
    max-width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

/* 評価スタイル */
.review-star {
    color: rgb(253 145 3 / 0.9);
}

/* 評価空スタイル */
.review-star-empty {
    color: rgb(253 145 3 / 0.9);
}

/* 詳細ボタン */
.review-button-section {
    width: 10%;
    padding: 4px 10px;
    text-align: center;
    border-bottom: 2px solid rgb(0 0 0 / 0.4);
}

/* 詳細ボタンスタイル */
.detail-button {
    width: 100%;
    color: rgb(0 0 0 / 0.4);
    border: none;
    font-size: 16px;
    background: none;
    text-decoration: none;
}

.detail-button:hover {
    color: rgb(0 0 0 / 0.8);
}

/* ここからレスポンシブ対応 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .review_form {
        width: 90%;
    }

    .table-section {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .review-th, .review-td {
        max-width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .comment-column {
        width: 200px;
        max-width: 200px;
    }

}

@media screen and (max-width: 768px) {
    .review_form {
        width: 100%;
    }

    .table-section {
        display: block;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .review-th,
    .review-td {
        max-width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .comment-column {
        max-width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
