/* このページにはsearch要素がないため、headerをrowにする */
.header {
    flex-direction: row;
    height: 80px;
}

.header-brand {
    width: 100%;
}

.top_logo {
    width: 100%;
}

.header-search {
    display: none;
}


/* 画面全体のstyle */
.review_form {
    width: 80%;
    margin: 0 auto;
    align-self: flex-start;
    padding: 10px;
}

.content-section-title {
    width: 100%;
    padding: 0 15px;
}

/* テーブルスタイル */
.table-section {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: rgba(255, 255, 255);
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 0.6);
    padding: 15px;
    margin-bottom: 50px;
}

.review-th {
    width: calc((100% - 250px) / 4);
    height: 80px;
    color: rgb(0 0 0 / 0.8);
    font-size: 18px;
    border-bottom: 2px solid rgb(0 0 0 / 0.4);
}

.review-td {
    height: 65px;
    font-size: 16px;
    border-bottom: 2px solid rgb(0 0 0 / 0.4);
}

.review-th,
.review-td {
    padding: 4px 10px;
}

.review-tr:last-child .review-td,
.review-tr:last-child .comment-column {
    border-bottom: none;
}

.comment-column {
    width: auto;
    max-width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.review-star {
    color: #fd9103;
}

.review-star-empty {
    color: #fd9103;
}

/* 詳細ボタン */
.review-button-section {
    width: 10%;
    padding: 4px 10px;
    text-align: center;
    border-bottom: 2px solid rgb(0 0 0 / 0.4);
}

.detail-button {
    width: 100%;
    color: rgb(0 0 0 / 0.4);
    border: none;
    font-size: 16px;
    background: none;
    text-decoration: none;
}

.detail-button:hover {
    color: rgb(0 0 0 / 0.8);
}

@media screen and (max-width: 1024px) {
    .review_form {
        width: 100%;
    }

    .table-section {
        display: block;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

}
