/* 共通モーダルスタイル */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.4);
    align-items: center;
    justify-content: center;
}

/* モーダル */
.modal-content {
    background-color: rgb(255 255 255 / 1);
    margin: auto;
    padding: 20px;
    width: 70%;
    max-height: 85vh;
    max-width: 600px;
    border-radius: 10px;
    overflow-y: scroll;
    border: 2px solid rgb(0 0 0 / 0.4);
    box-shadow: 10px 10px 20px rgb(0 0 0 / 0.4);
    position: relative;
    text-align: center;
}

/* モーダルを閉じるボタン */
.close-modal-button {
    color: rgb(0 0 0 / 0.8);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 200;
}

.close-modal-button:hover,
.close-modal-button:focus {
    color: rgb(0 0 0 / 0.4);
    text-decoration: none;
    cursor: pointer;
}

/* モーダルタイトル */
.card-title {
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: rgb(0 0 0 / 0.8);
    min-width: auto;
    padding: 0 20px;
    margin-bottom: 10px;
}

/* 各詳細行 */
.detail-item {
    width: 100%;
    margin: 10px 0;
    text-align: left;
    display: flex;
    align-items: center;
    height: 40px;
    line-height: 30px;
}

/* (modal共通)表示/非表示のユーティリティクラス */
.modal.hide {
    display: none;
}

.modal.show {
    display: flex;
}

/* dashboard固有のモーダルスタイル */
.reservation-details-container {
    width: 100%;
    padding: 5px 30px 5px 30px;
}

.detail-item {
    width: 100%;
    margin: 5px 0;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.detail-label {
    width: 45%;
    font-weight: bold;
    margin-right: 3%;
}

.detail-value {
    width: 55%;
}


/* 支払い状態のスタイル */
.status-completed {
    color: rgba(0 0 255 / 0.8);
    font-weight: bold;
}

.status-amount-set {
    color: rgb(253 126 20 / 0.9);
    font-weight: bold;
}

.status-pending {
    color: rgba(255, 0, 0, 0.9);
    font-weight: bold;
}

.form-row {
    justify-content: center;
    width: 100%;
    height: auto;
}

.price-form {
    width: 100%;
}

.price-container {
    width: 100%;
    height: 60px;
    display: flex;
    margin: 10px 0;
    text-align: left;
    align-items: center;
    font-size: 13px;
}

.price-input {
    display: block;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgb(0 0 0 / 0.4);
    border-radius: 6px;
    font-size: 16px;
    text-align: right;
    padding: 0 10px;
    -moz-appearance: textfield;
    appearance: textfield;
}

.price-input::-webkit-inner-spin-button,
.price-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.price-button-container {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 10px 0;
}

.price-update-btn {
    width: 40%;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0 0 255 / 0.8);
    color: rgb(255 255 255 / 1);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.price-update-btn:hover {
    background-color: rgba(0 0 255 / 0.4);
}

/* (dashboard用)モーダル内の表示/非表示のユーティリティクラス */
.form-row.hide {
    display: none;
}

.price-update-button-retry.hide {
    display: none;
}

.price-update-btn.hide {
    display: none;
}

/* manage-shop固有のモーダルスタイル */
/* 自店舗詳細内容section */
.detail-shop-cards {
    width: 90%;
    margin: 20px auto;
}

/* 自店舗画像 */
.shop-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* 詳細文章内容section */
.details-shop-info {
    width: 100%;
    text-align: left;
}



/* 各詳細行の項目名 */
.detail-title {
    font-weight: bold;
    margin: 0;
    font-size: 16px;
    min-width: 100px;
    color: rgb(0 0 0 / 0.8 )
}

/* 詳細情報内容 */
.modal-detail-section {
    margin: 0;
    color: rgb(0 0 0 / 0.8 );
    font-size: 16px;
}

/* 店舗紹介部分の項目名 */
.description-title {
    height: auto;
    line-height: 1.5;
    align-self: flex-start;
}

/* 店舗紹介部分の内容 */
.shop-description-item {
    height: auto;
    line-height: 1.5;
    width: 100%;
    align-self: flex-start;
}


/* reviews用のモーダルスタイル */
.review-info-section {
    width: 100%;
    text-align: left;
    padding: 20px;
}

.comment-item {
    height: auto;
    min-height: 80px;
    line-height: 1.5;
    align-self: flex-start;
}

.comment-title {
    height: auto;
    line-height: 1.5;
    align-self: flex-start;
}

.shop-comment-item {
    height: auto;
    align-items: flex-start;
}


/* 削除section */
.delete-form {
    width: 100%;
    height: auto;
    text-align: center;
}
/* 削除ボタン */
.delete-button {
    width: auto;
    max-width: 40%;
    padding: 6px;
    color: rgb(0 0 0 / 0.4);
    border: none;
    font-size: 19px;
    text-align: center;
    background: none;
    text-decoration: none;
}

.delete-button:hover {
    color: rgba(255, 0, 0, 0.9);
}

/* 表示/非表示のユーティリティクラス */
.modal.hide {
    display: none;
}

.modal.show {
    display: flex;
}

.modal-shop-image-container.hide {
    display: none;
}

.modal-shop-image-container.show {
    display: block;
}


/* レスポンシブ対応 */
@media screen and (max-width: 539px) {
    .modal-content {
        width: 90%;
        margin: 10% auto;
    }

    .shop-image {
        height: 130px;
    }

    .detail-item {
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: left;
        margin: 10px 0;
    }

    .detail-label, .detail-value {
        width: 100%;
    }

    .detail-value {
        text-align: center;
    }

    .detail-title {
        width: 100%;
        line-height: 1.3;
        font-size: 16px;
    }

    .description-title {
        height: auto;
        font-size: 16px;
    }

    .modal-detail-section {
        width: 100%;
        line-height: 1.3;
    }

    .shop-description-item {
        height: auto;
    }


    .registered-shop-detail {
        max-width: 100%;
        padding: 10px 0;
    }
}

