.container {
    flex-direction: column;
}

.reservations {
    width: 80%;
    margin: 0 auto;
    align-self: flex-start;
    padding: 10px;
}

.content-section-title {
    width: 100%;
    color: rgb(0 0 0 / 0.7);
    font-size: 20px;
    padding: 4px;
    margin: 8px 4px;
}

.table-section {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0 0 0 / 0.1);
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 0.6);
    margin-bottom: 50px;
}

/* thとtdの共通style */
.reservation_th,
.reservation_td {
    border-bottom: 1px solid rgb(0 0 0 / 0.4);
    text-align: left;
    padding: 4px 20px;
}

/* thのstyle */
.reservation_th {
    height: 60px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
}

.narrow_column {
    width: 100px;
    text-align: center;
}

.email-column {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* tdのstyle */
.reservation_td {
    height: 50px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
}

.reservation-button-section {
    width: 100px;
    text-align: center;
}

.reservation_detail_button {
    border: none;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(0 0 0 / 0.7);
    font-size: inherit;
    padding: 0;
    margin: 0;
}

.qr-data-display {
    padding: 2px;
    margin: 8px 4px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: rgb(0 0 0 / 0.7);
}

.reservation-details {
    display: none;
    width: 50%;
    text-align: left;
    padding: 50px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 0.6);
    margin: 0 auto;
}

.qr_data_content {
    margin: 6px 0;
    color: rgb(0 0 0 / 0.7);
    font-size: 16px;
}

.qr-section-button {
    width: 80%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin: 5% auto;
}

.scanner-btn {
    width: 150px;
    height: 40px;
    padding: 6px 15px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    margin: 2% 0;
    border: none;
}

/* 表示/非表示のユーティリティクラス */
.scanner-btn.hide {
    display: none;
}

.reservation-details.hide {
    display: none;
}

.form-row.hide {
    display: none;
}

.price-update-button-retry {
    display: none;
}

.price-update-btn.hide {
    display: none;
}

.camera-reader.hide {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
}

.camera-reader.show {
    display: block;
    width: auto;
    height: auto;
    overflow: visible;
}

.camera-reader {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.video-preview {
    width: 70%;
    height: auto;
    display: block;
    margin: 5% auto;
}

.canvas-preview {
    display: none;
}

.stop-scanner-btn {
    display: none;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .reservations {
        width: 100%;
        padding: 0;
    }

    .table-section {
        display: block;
        white-space: nowrap;
        overflow-x: auto;
    }

    .reservation-details {
        width: 60%;
    }

    .qr-section-button {
        gap: 20px;
    }
}


@media screen and (max-width: 767px) {
    .reservations {
        width: 100%;
        padding: 0;
    }

    .table-section {
        display: block;
        white-space: nowrap;
        overflow-x: auto;
    }

    .qr-section-button {
        gap: 20px;
    }

}

