/* 共通モーダルスタイル */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.4);
    align-items: center;
    justify-content: center;
}

/* モーダルを閉じるボタン */
.close-modal-button {
    color: rgb(0 0 0 / 0.8);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 200;
}

.close-modal-button:hover,
.close-modal-button:focus {
    color: rgb(0 0 0 / 0.4);
    text-decoration: none;
    cursor: pointer;
}

/* モーダル */
.modal-content {
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 20px;
    width: 70%;
    max-width: 600px;
    border-radius: 10px;
    max-height: 85vh;
    overflow-y: auto;
    border: 2px solid rgb(0 0 0 / 0.4);
    box-shadow: 10px 10px 20px rgb(0 0 0 / 0.4);
    position: relative;
    text-align: center;
}

/* モーダルタイトル */
.card-title {
    font-size: 20px;
    margin: 20px auto;
    text-align: left;
    font-weight: bold;
    color: rgb(0 0 0 / 0.8);
    width: 90%;
    min-width: auto;
}

.shop-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
/* 詳細情報section */
.details-shop-info {
    width: 100%;
    text-align: left;
}

/* 各詳細section */
.detail-item {
    width: 100%;
    margin: 10px 0;
    text-align: left;
    display: flex;
    align-items: center;
    height: 30px;
    line-height: 30px;
}

/* 項目名section */
.detail-title {
    font-weight: bold;
    margin: 0;
    font-size: 16px;
    min-width: 100px;
    color: rgb(0 0 0 / 0.8 )
}

/* 店舗紹介title */
.description-title {
    height: auto;
    line-height: 1.5;
    align-self: flex-start;
}

/* 詳細情報内容 */
.modal-detail-section {
    margin: 0;
    color: rgb(0 0 0 / 0.8 );
    font-size: 16px;
}

.shop-description-item {
    height: auto;
    line-height: 1.5;
    width: 100%;
    align-self: flex-start;
}

/* dashboard固有のモーダルスタイル */

/* 店舗一覧表示と同じように見えるようにするためのスタイル */
.registered-shop-card {
    width: 90%;
    margin: 0 auto;
    box-shadow: 6px 6px 12px rgb(0 0 0 / 0.4);
    border: 2px solid rgb(0 0 0 / 0.4);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
/* card内の情報のスタイル */
.registered-shop-info {
    width: 100%;
    text-align: left;
    padding: 10px;
}
/* card内の店舗名 */
.shop-name {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
}
/* card内のエリアとジャンル */
.shop-tags {
    margin: 5px 0;
    font-size: 13px;
}
/* 登録内容がわかるように情報表示用 */
.registered-shop-detail-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 90%;
    margin: 5% auto;
}
/* 営業時間 */
.shop-hours {
    margin: 5px 0;
    font-size: 14px;
}
/* 店舗紹介 */
.shop-description-section {
    height: auto;
}
/* 店舗一覧で確認用のlink */
.view-shop-link-container {
    margin-top: 30px;
    text-align: center;
}

/* reviews固有のモーダルスタイル */
.review-info-section {
    width: 100%;
    text-align: left;
    padding: 10px;
}

.comment-item {
    height: auto;
    line-height: 1.5;
    align-self: flex-start;
}

.comment-title {
    height: auto;
    line-height: 1.5;
    align-self: flex-start;
}

.shop-comment-item {
    height: auto;
    align-items: flex-start;
}

/* shops_list固有のモーダルスタイル */
.detail-shop-cards {
    width: 90%;
    margin: 20px auto;
}
/* 削除section */
.delete-form {
    width: 90%;
    margin: auto;
    text-align: center;
}

.edit-button-container {
    width: 90%;
    margin: auto;
    text-align: center;
}


/* 修正ボタン */
.edit-button {
    width: auto;
    max-width: 40%;
    padding: 6px;
    color: rgb(0 0 0 / 0.4);
    border: none;
    font-size: 19px;
    text-align: center;
    background: none;
    text-decoration: none;
}

.edit-button:hover {
    color: red;
}

/* レスポンシブ対応 */
@media screen and (max-width: 539px) {
    .modal-content {
        width: 90%;
        margin: 10% auto;
    }

    .button, .link {
        width: 80%;
        margin: 10% auto 15% auto;
    }

    .shop-image {
        height: 130px;
    }

    .detail-item {
        height: auto;
        flex-direction: column;
        justify-content: left;
        margin: 10px 0;
    }

    .detail-title {
        width: 100%;
        line-height: 1.3;
        font-size: 16px;
    }

    .description-title {
        height: auto;
        font-size: 16px;
    }

    .modal-detail-section {
        width: 100%;
        line-height: 1.3;
        font-size: 16px;
    }

    .shop-description-item {
        height: auto;
    }

    /* dashboard固有のモーダルスタイル */
    .registered-shop-detail {
        max-width: 100%;
        padding: 10px 0;
    }
}
