.content {
    justify-content: center;
    align-items: center;
}


.registration_container,
.login_container {
    width: 38%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 61%);
    position: absolute;
    margin: auto;
}

.thanks-form {
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 61%);
    padding: 20px;
    width: 40%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.register_form,
.login_form {
    width: 80%;
    margin: 2% 10%;
}

.title-box {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 255, 0.8);
    color: white;
    text-align: left;
    padding: 2px 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0 0 5%;
}

.form-title {
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    margin: 10px;
}

.form-thanks-title {
    font-size: 22px;
    margin: 5%;
}

.form__error {
    height: 16px;
    color: #f00;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin-top: 2px;
}


.icon-img {
    width: 50px;
    height: 50px;
    padding: 3px;
    margin: 8px;
    display: inline-block;
}

.input-group {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input {
    width: 100%;
    height: 35px;
    line-height: 1;
    padding: 10px 5px 4px 5px;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.836);
    outline: none;
    vertical-align: bottom;
}

.form-input::placeholder {
    color: rgba(0, 0, 0, 0.836);
    font-size: 24px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin: 2% 2% 5%;
}

.thanks-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 2% 5%;
}

.register-button {
    width: 110px;
    height: 35px;
    line-height: 35px;
}

.login-button {
    width: 90px;
    height: 35px;
    line-height: 35px;
}

.button,
.link {
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    background-color: rgba(0, 0, 255, 0.7);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    display: block;
    text-decoration: none;
}

.button:hover,
.link:hover {
    background-color: #003875;
}

@media screen and (max-width: 719px) {
    .registration_container,
    .login_container {
        width: 90%;
    }

    .form-input {
        font-size: 16px;
    }

    .form-input::placeholder {
        font-size: 16px;
    }

    .thanks-form {
        width: 80%;
    }

    .registration-form,
    .login-form {
        width: 100%;
    }

    .button,
    .link {
        width: 30%;
    }
}

@media screen and (min-height: 1024px) and (min-width: 1024px) {
    .registration_container,
    .login_container {
        width: 50%;
    }

    .thanks-form {
        width: 60%;
    }

    .button,
    .link {
        width: 30%;
        font-size: 16px;
    }
}

