.choose-container {
    width: 100%;
}

.choose-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.text-2,
.text {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    margin: 4px;
}

.link-button {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10%;
}

.a-link {
    text-decoration: none;
    padding: 4px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 767px) {
    .choose-section {
        width: 100%;
    }

    .text-2,
    .text {
        font-size: 0.8rem;
    }
}