body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 30px;
    background-color: #f4f4f4;
}

.container {
    width: 100%;

}

.content {
    background-color: #f4f4f4;
    width: 96%;
    padding: 10px 70px;
    margin: 2%;
}

.top_logo {
    color: #0056b3;
    margin: 0;
    padding: 10px 4px;
    text-align: left;
    font-size: 1.8rem;
}

/* ハンバーガーメニューのスタイル追加 */
.menu-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-start;
}

.menu-toggle {
    display: none;
}

.menu-toggle:checked+.hamburger-menu+.nav-menu {
    display: block;
}

.hamburger-menu {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 25px;
    background-color: #0056b3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    position: relative;
    z-index: 1000;
    margin-right: 10px;
}

.nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 300px;
    text-align: center;
    padding: 20px 0;
    min-height: 300px;
    font-size: 1rem;
    z-index: 1001;
}

.bar {
    height: 1%;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

.logout-button {
    background: none;
    border: none;
    padding: 0;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header {
        padding: 10px;
    }

    .hamburger-menu {
        position: absolute;
        top: -12px;
        right: 10px;
    }

    .nav-menu {
        width: 200px;
        text-align: center;
        padding: 10px 0;
        min-height: 50px;
    }

    .top_logo {
        padding: 2px;
    }

}