.button {
    cursor: pointer;
}

.common_body {
    font-family: sans-serif;
    overflow-x: auto;
}

.content {
    background-color: #f4f4f4;
    width: 96%;
    padding: 10px 20px;
    margin: 2%;
}

.header,
.header_content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 0 5px;
    background-color: #f4f4f4;
}

.header_content {
    justify-content: left;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.top_logo {
    width: 50%;
    color: #0056b3;
    margin: 0;
    padding: 10px 4px;
    text-align: left;
    font-size: 1.8rem;
}

.user__name,
.title-name {
    font-size: 1.4rem;
    margin: 4px auto;
    padding: 2px;
    color: rgb(0 0 0 / 70%);
    font-weight: bold;
    text-align: center;
}

/* ページネーションの共通スタイル */
.custom-date-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.custom-date-pagination a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    padding: 5px 8px;
    border: 1px solid rgb(119 118 118);
    font-size: 0.7rem;
    background-color: white;
    margin: 0 1px;
    cursor: pointer;
}

.custom-date-pagination a:hover {
    background-color: #8cbff5;
}

.custom-count-pagination {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.custom-count-pagination .page-item {
    display: inline-block;
    margin: 0 1px;
}

.custom-count-pagination .page-link {
    padding: 5px 8px;
    color: blue;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid rgb(119 118 118);
    font-size: 0.7rem;
    background-color: white;
}

.custom-count-pagination .page-item.active .page-link {
    background-color: blue;
    color: white;
    border-color: blue;
}

.custom-count-pagination .page-link:hover {
    background-color: #8cbff5;
}

/* セッションメッセージスタイル */
.alert-success,
.alert-danger,
.payment-success,
.reservation-success {
    text-align: center;
    font-size: 1rem;
    margin: 10px 0;
    color: #004085;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
    .content {
        background-color: #f4f4f4;
        width: 96%;
        padding: 10px 20px;
        margin: 2%;
    }

    .container {
        width: 100%;
        flex-direction: column;
    }

    .form-title,
    .user__name{
        font-size: 1.2rem;
    }

    .top_logo {
        width: 100%;
        padding: 2px 30px;
        margin-left: 20px;
    }

    .alert-success,
    .alert-danger,
    .payment-success,
    .reservation-success {
        font-size: 0.9rem;
    }
}

@media only screen and (width: 768px) {
    .container {
        width: 100%;
        flex-direction: column;
    }

    .form-title,
    .user__name {
        font-size: 1.3rem;
    }
}
