body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    width: 100%;
}

.header,
.reservation-form {
    width: 50%;
    box-sizing: border-box;
}

.flex-low {
    display: flex;
    text-align: center;
}

.left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px 60px;
}

.header {
    padding: 10px;
    background-color: #f4f4f4;
}

.form-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: #044c99;
    color: white;
    border-radius: 6px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.733);
}

.reservation {
    width: 50%;
    padding: 10px;
}

.select-wrapper {
    width: 100%;
    position: relative;
}

.form-section form {
    width: calc(100% - 24px);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 4px 12px;
}

.form-section label {
    width: calc(100% - 24px);
    margin: 2px 10px;
    padding: 4px 12px;
    color: white;
}

.form-section input {
    margin: 2px 14px;
    padding: 4px 12px;
    width: calc(100% - 24px);
    border-radius: 4px;
    border: none;
}

.form-section .date-label {
    width: calc(40% - 24px);
    padding: 4px 12px;
    margin: 2px 14px;
}

input[type="date"],
select {
    width: 100%;
    margin: 2px 14px;
    padding: 4px 12px;
    width: calc(100% - 24px);
    border-radius: 4px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background-color: white;
    z-index: 1;
}


/* カスタムアイコンのスタイル */
.custom-select-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-45%);
    width: 16px;
    height: 8px;
    background-color: #b4b4b4;
    clip-path: polygon(0 0, 50% 24%, 100% 0, 50% 100%, 0 0);
    pointer-events: none;
    z-index: 2;
}

.button-container {
    width: 100%;
    margin-top: auto;
}

.reserve-button {
    width: 100%;
    background-color: #013a77;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 0 6px 6px;
    margin-top: auto;
}

.form-section button:hover {
    background-color: #044c99;
}


.reservation-summary {
    width: calc(90% - 20px);
    padding: 4px 10px;
    border-radius: 6px;
    margin: 20px;
    background-color: #044c99;
    color: white;

}

.summary-item {
    width: calc(100% - 20px);
    padding: 10px;
    text-align: left;
}

.reserve {
    width: 100%;
    text-align: left;
    padding: 20px 20px 2px 20px;
    margin: 0;
}

.container {
    width: 100%;

}

.content {
    background-color: #f4f4f4;
    width: 96%;
    padding: 10px 20px;
    margin: 2%;
}

.top_logo {
    color: #0056b3;
    margin: 0;
    padding: 10px 4px;
    text-align: left;
    font-size: 1.8rem;
}

.navigation {
    display: flex;
    padding: 2px 10px;
}

.s-name {
    margin: 0;
}

.shop_name {
    font-size: 1rem;
}

.back-link {
    position: relative;
    top: 6px;
    width: 24px;
    height: 24px;
    display: inline-block;
    padding: 2px 4px;
    margin: 0 10px 0 0;
    font-size: 0.8rem;
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.61);
}

.back-link:hover {
    background-color: rgb(226, 226, 226);
    color: #666565;
}

.image-section {
    width: 100%;
}

.image-section img {
    width: 100%;
    padding: 10px;
}


.description {
    width: 100%;
    padding: 10px;
    margin: 0;
    font-size: 0.9rem;
}

.shop-guide {
    width: 80%;
    padding: 10px;
    text-align: start;
    margin: 0;
}

/* ハンバーガーメニューのスタイル追加 */
.menu-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-start;
}

.menu-toggle {
    display: none;
}

.menu-toggle:checked+.hamburger-menu+.nav-menu {
    display: block;
}

.hamburger-menu {
    cursor: pointer;
    display: block;
    width: 35px;
    height: 35px;
    background-color: #0056b3;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.61);
    border-radius: 3px;
    padding: 5px;
    position: relative;
    z-index: 1000;
    margin-right: 10px;
}

.nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 300px;
    text-align: center;
    padding: 20px 0;
    min-height: 300px;
    font-size: 1.5rem;
    z-index: 1001;
}

.bar-1 {
    width: 50%;
    height: 1%;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
    padding: 0 1px;
}

.bar-2 {
    width: 100%;
    height: 1%;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
    padding: 0 1px;
}

.bar-3 {
    width: 25%;
    height: 1%;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
    padding: 0 1px;
}

a.nav-link,
.logout-button {
    font-size: 2rem;
    color: blue;
    font-weight: bold;
    padding: 6px;
    margin: 4px;
    text-decoration: none !important;
}

.logout-button {
    background: none;
    border: none;
    padding: 0;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}


@media (max-width: 768px) {
    .flex-container {
        width: 100%;
        flex-direction: column;
    }

    .left-side {
        width: 100%;
        padding: 10px;
    }

    .header {
        width: 100%;
        padding: 10px;
    }

    .reservation-form {
        width: 100%;
    }

    .hamburger-menu {
        padding: 5px;
    }

    .nav-menu {
        width: 250px;
        text-align: center;
        padding: 10px;
        min-height: 60px;
    }

    .top_logo {
        padding: 2px;
    }

    .image-section {
        width: 100%;
    }

    .reservation {
        width: 100%;
    }

    .form-section .date-label {
        width: calc(50% - 24px);
    }

    .reservation-summary {
        width: 90%;
    }

}