/* テーブル全体のスタイル設定 */
.shop_table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop_card {
    flex: 0 1 24%;
    margin-bottom: 1%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.61);
    padding: 0;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

/* カード内の画像スタイル */
.shop_card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* カード内の情報スタイル */
.shop_info {
    padding: 5px;
}

.shop-name {
    margin: 0;
    padding: 5px;
    font-size: 1rem;
}

.shop-guide {
    margin: 0;
    padding: 2px;
    font-size: 0.6rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop-detail {
    width: 40%;
    padding: 6px 10px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 1% 2% 3% 2%;
    font-size: 0.7rem;
    text-align: center;
    margin: 5px;
}

.favorite-button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    color: rgb(228, 225, 225);
    padding: 1px 15px 1px 15px;
}


/* レスポンシブデザインの設定 */
@media (max-width: 768px) {
    .shop_card {
        flex: 0 1 100%;
        justify-content: center;
        /* モバイル表示では1列に */
    }

    .shop_card {
        margin-bottom: 3%;
    }

    .shop-name {
        font-size: 1.3rem;
    }

    .shop-detail {
        width: 44%;
        padding: 6px 10px;
        font-size: 0.8rem;
    }

    .shop-guide {
        font-size: 0.8rem;
    }
}