.search-content {
    width: 50%;
    height: 35px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.61);
    border-radius: 6px;
    background-color: white;
    display: flex;
    align-items: center;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-form__item-input:focus,
.search-form__item-select:focus,
.search-button:focus {
    outline: none;
}

.search-form__item {
    width: 100%;
    display: flex;
    align-items: center;
}

.select-wrapper {
    width: 18%;
    display: flex;
    align-items: center;
    position: relative;
}

.search-form__item-input {
    width: 50%;
    padding: 4px 4px;
    border: none;
    background: none;
    border-radius: 4px;
}

.search-button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    color: #b4b4b4;
    padding: 2px;
    margin: 4px;
}

.search-button img {
    width: 100%;
    height: 100%;
}

.search-form__item-select {
    flex-grow: 1;
    padding: 4px 14px;
    border: none;
    border-right: 1px solid #cccaca;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background-color: white;
    z-index: 1;
}

.custom-select-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 8px;
    background-color: #b4b4b4;
    clip-path: polygon(0 0, 50% 24%, 100% 0, 50% 100%, 0 0);
    pointer-events: none;
    z-index: 2;
}

.shop_table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop_card {
    flex: 0 1 24%;
    margin-bottom: 1%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.61);
    padding: 0;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

/* カード内の画像スタイル */
.shop_card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* カード内の情報スタイル */
.shop_info {
    padding: 5px;
}

.shop-name {
    margin: 0;
    padding: 5px;
    font-size: 1rem;
}

.shop-guide {
    margin: 0;
    padding: 2px;
    font-size: 0.6rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop-detail {
    width: 40%;
    padding: 6px 10px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 1% 2% 3% 2%;
    font-size: 0.7rem;
    text-align: center;
    margin: 5px;
}

.favorite-button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    color: rgb(228, 225, 225);
    padding: 1px 15px 1px 15px;
}

/* お気に入りボタンのスタイル */
.favorite-button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    color: rgb(228, 225, 225);
    /* デフォルトの色 */
    padding: 1px 15px 1px 15px;
}

/* お気に入りに追加されたときのボタンのスタイル */
.favorite-button.favorited {
    color: red;
    /* お気に入りの場合は赤色に */
}

/* レスポンシブデザインの設定 */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-content {
        order: 2;
        width: 100%;
        margin: 10px 0;
    }

    .search-form__item {
        width: 100%;
        padding: 2px;
    }

    .select-wrapper {
        width: 26%;
    }

    .custom-select-icon {
        right: 3px;
    }


    .shop_card {
        flex: 0 1 100%;
        justify-content: center;
    }

    .shop_card {
        margin-bottom: 3%;
    }

    .shop-name {
        font-size: 1.3rem;
    }

    .shop-detail {
        width: 44%;
        padding: 6px 10px;
        font-size: 0.8rem;
    }

    .shop-guide {
        font-size: 0.8rem;
    }
}