.shop_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.user__name {
    margin: 6px auto;
    padding: 4px;
    font-size: 1.2rem;
    font-weight: bold;
    color: gray;
}

.shop__name {
    margin: 6px auto;
    padding: 4px;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.qr-data-display {
    padding: 2px;
    margin: 10px 0;
    font-size: 1.3rem;
    font-weight: bold;
}

.qr-data-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reservation-details {
    width: 50%;
    text-align: left;
    padding: 50px;
    background-color: #0056b3;
    border-radius: 6px;
    box-shadow: 3px 3px 6px rgba(0, 0, 5, 0.712);
}

.reservation-details p {
    margin: 10px 0;
    color: white;
    font-size: 1rem;
}

.qr-section-button {
    width: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}


.start-scanner-btn,
.stop-scanner-btn,
.reset-btn {
    width: 30%;
    padding: 6px 10px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 0.8rem;
    text-align: center;
    margin: 20px 0;
    border: none;
}

.reservations {
    width: 100%;
    padding: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservations-list {
    width: 70%;
    color: black;
    font-size: 1.3rem;
    padding: 2px;
    margin: 4px;
}

table {
    margin: 0 auto;
    width: 70%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #0056b3;
    border: 1px solid #7a7a7a;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    overflow: hidden;
    box-shadow: 3px 3px 6px rgba(0, 0, 5, 0.712);
}

th,
td {
    border: 1px solid #7a7a7a;
    padding: 4px 10px;
    text-align: left;
}

#video-preview,
#canvas-preview {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}


@media (max-width: 768px) {
    .shop__name {
        margin: 6px auto;
        padding: 4px;
        font-size: 1.2rem;
        font-weight: bold;
        color: black;
    }

    table {
        width: 100%;
        font-size: 0.8rem;
    }

    .reservation-details {
        width: 100%;
        padding: 30px;
    }

    .qr-section-button {
        width: 100%;
        gap: 10px;
    }

    .start-scanner-btn,
    .stop-scanner-btn,
    .reset-btn {
        width: 50%;
        padding: 10px 0;
        margin: 10px 0;
    }

}