.file-name {
    margin-left: 10px;
    color: #333;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}
