.content {
    justify-content: center;
    align-items: center;
}

.registration_container,
.login_container {
    width: 38%;
    background-color: rgb(255 255 255 / 1);
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 0.6);
    position: absolute;
    margin: auto;
}

.thanks-form {
    display: flex;
    background-color: rgb(255 255 255 / 1);
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 0.6);
    padding: 20px;
    width: 40%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.register_form,
.login_form {
    width: 80%;
    margin: 2% 10%;
}

.title-box {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0 0 255 / 1);
    color: rgb(255 255 255 / 1);
    text-align: left;
    padding: 2px 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0 0 5%;
}

.form-title {
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    margin: 10px;
}

.form-thanks-title {
    font-size: 22px;
    margin: 5%;
}

.form__error {
    height: 16px;
    color: #f00;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin-top: 2px;
}


.icon-img {
    width: 50px;
    height: 50px;
    margin: 8px;
    display: inline-block;
}

.input-group {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input {
    width: 100%;
    height: 35px;
    line-height: 1;
    padding: 10px 5px 2px 5px;
    border: none;
    border-bottom: 1px solid rgb(0 0 0 / 0.4);
    font-size: 24px;
    color: rgba(0 0 0/ 0.8);
    outline: none;
    vertical-align: bottom;
}

.form-input::placeholder {
    color: rgba(0 0 0/ 0.8);
    font-size: 24px;
}

.button-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    margin: 2% 2% 5%;
}

.thanks-button-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 2% 5%;
}

.thanks-button,
.register-button,
.login-button {
    display: block;
    border-radius: 6px;
    text-align: center;
    width: 35%;
    height: 35px;
    line-height: 35px;
    background-color: rgba(0 0 255 / 1);
    color: rgb(255 255 255 / 1);
    font-size: 18px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .content {
        width: 50%;
        margin: auto;
    }

    .registration_container,
    .login_container {
        width: 100%;
        margin: auto;
    }

    .thanks-form {
        width: 80%;
    }

    .registration-form,
    .login-form {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .registration_container,
    .login_container {
        width: 90%;
        margin: 0 auto;
    }

    .icon-img {
        width: 30px;
        height: 30px;
    }

    .form-input {
        font-size: 16px;
    }

    .register-button,
    .login-button {
        width: 50%;
    }
}

