body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link,
.button {
    cursor: pointer;
}

.common_body {
    width: 100%;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: #f4f4f4;
}

.main_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.header {
    width: 100%;
    height: 80px;
    padding: 0 70px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-brand {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.content {
    width: 100%;
    min-height: calc(100vh - 120px);
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.top_logo {
    width: 100px;
    height: 100%;
    line-height: 80px;
    color: rgba(0, 0, 255, 0.8);
    text-align: left;
    font-size: 34px;
    margin: 0 10px;
}

.page-title-name,
.greeting-title {
    height: 30px;
    line-height: 30px;
    margin: 1% auto;
    padding: 2px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    text-align: center;
}

.page-title-name {
    font-size: 26px;
}

.greeting-title {
    font-size: 22px;
}

.content-section-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.6);
}


/* ページネーションの共通スタイル */
.custom-count-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
}

.custom-count-pagination .page-item {
    display: inline-block;
    margin: 0 2px;
}

.custom-count-pagination .page-link {
    color: rgba(0, 0, 255, 0.8);
    font-weight: bold;
    text-decoration: none;
    border: 1px solid rgb(119 118 118);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px 6px;
    font-size: 13px;
}

.custom-count-pagination .page-item.active .page-link {
    background-color: rgba(0, 0, 255, 0.8);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(0, 0, 255, 0.8);
}

.custom-count-pagination .page-link:hover {
    background-color: #8cbff5;
}

/* セッションメッセージスタイル */
.session-messages {
    width: 100%;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    margin: 2px auto;
    color: #004085;
}

.form__error {
    height: 22px;
    line-height: 22px;
    color: #f00;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: 2px;
}

/* レスポンシブ対応 */
@media screen and (max-width: 768px) {
    .content {
        padding: 0;
    }

    .header {
        height: 160px;
        flex-direction: column;
        padding: 0;
        justify-content: space-between;
    }

    .header-brand {
        width: 100%;
    }

    .top_logo {
        width: 50%;
        padding-left: 50px;
    }

    .header-search {
        width: 100%;
    }

    .greeting-title, .page-title-name {
        margin: 2% auto;
    }

    .page-title-name {
        font-size: 20px;
    }

    .greeting-title {
        font-size: 18px;
    }

    .session-messages {
        margin: 2% auto;
    }
}

/* JS用の表示/非表示のユーティリティクラス */
.hide {
    display: none;
}
