body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link,
.button {
    cursor: pointer;
}

.common_body {
    width: 100%;
    min-height: 100vh;
    font-family: sans-serif;
    font-weight: 700;
    background-color: #f4f4f4;
}

.main_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.header {
    width: 100%;
    height: 80px;
    padding: 0 70px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-brand {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

/* 検索欄のスタイル (indexページでのみ使用)*/
.header-search {
    display: none;
}

/* コンテンツの共通スタイル */
.content {
    width: 100%;
    min-height: calc(100vh - 120px);
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* トップロゴのスタイル */
.top_logo {
    width: 100px;
    height: 100%;
    line-height: 80px;
    color: rgba(0 0 255 / 0.8);
    text-align: left;
    font-size: 34px;
    margin: 0 10px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.page-title-name,
.greeting-title {
    height: 36px;
    line-height: 36px;
    margin: 0 auto;
    color: rgba(0 0 0 / 0.6);
    font-weight: 700;
    text-align: center;
}

.page-title-name {
    font-size: 26px;
}

/* 挨拶メッセージのスタイル */
.greeting-title {
    font-size: 22px;
}

/* 各コンテンツのtitleの共通style */
.content-section-title {
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    margin: 10px auto;
    color: rgba(0 0 0 / 0.6);
    text-align: center;
}

/* ページネーションの共通スタイル */
.custom-count-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
}

.custom-count-pagination .page-item {
    display: inline-block;
    margin: 0 2px;
}

.custom-count-pagination .page-link {
    color: rgba(0 0 255 / 0.8);
    font-weight: bold;
    text-decoration: none;
    border: 1px solid rgb(0 0 0 / 0.4);
    background-color: rgb(255 255 255 / 1);
    padding: 5px 6px;
    font-size: 13px;
}

.custom-count-pagination .page-item.active .page-link {
    background-color: rgba(0 0 255 / 0.8);
    color: rgb(255 255 255 / 1);
    border-color: rgba(0 0 255 / 0.8);
}

.custom-count-pagination .page-link:hover {
    background-color: #8cbff5;
}

/* セッションメッセージスタイル */
.session-messages {
    width: 100%;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    margin: 2px auto;
    color: rgba(0 0 255 / 1);
}

/* エラーメッセージのスタイル */
.form__error {
    height: 22px;
    line-height: 22px;
    color: #f00;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: 2px;
}

/* レスポンシブ対応 */
@media screen and (max-width: 768px) {
    .content {
        padding: 0;
    }

    .header {
        height: 80px;
        padding: 0;
    }

    .header-brand {
        width: 100%;
        gap: 0;
    }

    .top_logo {
        width: 100%;
        padding: 0 50px;
    }

    .header-search {
        display: none;
    }

    .page-title-name {
        font-size: 20px;
    }

    .greeting-title {
        font-size: 18px;
    }
}

/* JS用の表示/非表示のユーティリティクラス */
.hide {
    display: none;
}
