/* ハンバーガーメニューのスタイル追加 */
.menu-wrapper {
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-start;
}

.menu-toggle {
    display: none;
}

.menu-toggle:checked+.hamburger-menu+.nav-menu {
    display: block;
}

.hamburger-menu {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgba(0 0 255 / 1);
    box-shadow: 2px 2px 2px rgb(0 0 0 / 0.6);
    border-radius: 5px;
    padding: 5px;
    z-index: 1000;
}

.nav-menu {
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(255 255 255 / 1);
    padding: 0;
    font-size: 24px;
    z-index: 1001;
    overflow: auto;
}

.n-menu {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.top-bar {
    width: 50%;
    height: 1%;
    background-color: rgba(255 255 255 / 1);
    margin: 9px 5px;
    transition: 0.4s;
    padding: 0 1px;
}

.middle-bar {
    width: 80%;
    height: 1%;
    background-color: rgba(255 255 255 / 1);
    margin: 9px 5px;
    transition: 0.4s;
    padding: 0 1px;
}

.bottom-bar {
    width: 25%;
    height: 1%;
    background-color: rgba(255 255 255 / 1);
    margin: 9px 5px;
    transition: 0.4s;
    padding: 0 1px;
}

.nav-link,
.logout-button {
    display: inline-block;
    width: auto;
    height: 60px;
    font-size: 32px;
    color: rgba(0 0 255 / 0.8);
    font-weight: 700;
    text-decoration: none;
    line-height: 60px;
}

.logout-button-form {
    margin: 0;
    padding: 0;
    display: inline;
}

.logout-button {
    background: none;
    border: none;
    padding: 0;
    color: rgba(0 0 255 / 0.8);
    cursor: pointer;
    text-decoration: none;
    font-size: 32px;
    line-height: 60px;
    font-weight: 700;
}

@media screen and (max-width: 767px) {
    .hamburger-menu {
        position: absolute;
        top: 15px;
        left: 0;
    }
}

